/* ================  mobile ====================  */
@media screen and (max-width: 480px){
#wrap{width: 100%; height: 100%;}
  .s_wrap{width: 100%; height: 100%; position: relative; padding-bottom: 0; float: none;}

/* --------#headBox-----------------------*/

#headBox{width: 100%; height: 60px; padding: 10px 15px; box-sizing: border-box; }

  h1{width: 180px; height: 35px;  }
  .gnb{width: 40px; height: 40px; text-align: center;}
  .menu{display: none;}
  .menu>ul{width: 100%; height: 100%; margin-top: 30px;}
  .menu>ul>li{width: 90%; height: 30px; margin: auto; margin-bottom: 10px; background-color: #ccc;}

  .gnb>button{color:#fff; line-height: 40px; width: 100%; height: 100%; position: relative; z-index: 200;}
  .gnb button:focus + .menu,
  .gnb button:hover + .menu{display: block; width: 45vw; height: 100vh; position: fixed; top: 0;left: 0; background-color: #002E6D; z-index:100}


  .search{width: 40px; height: 40px;}
  .search>button{position: relative; z-index: 100;}
  .search>button:hover + .search_bar,
  .search>button:focus + .search_bar{display: block; margin-top: 60px;}



/* --------#conBox common---------------------------------*/

  .product_icon_box{padding-top: 4.166666vw/*20px*/; box-sizing: border-box;}
  .product_explain{padding-top: 4.166666vw/*20px*/; box-sizing: border-box; font-size: 11px; line-height: 16px;}

  .purchase_btn{width: 20.833333vw/*100px*/; height: 8.333333vw/*40px*/; bottom: 2.083333vw/*10px*/; right: 6.25vw/*30px*/; line-height: 8.3333333vw; font-size: 0.875rem; letter-spacing: 3px;}
  .pic_box{width: 81.25vw/*400px*/; height: 83.333333vw /*400px*/ ; top: 15%; left:50%; margin-left:-40vw;}
  .pic{width: 62.5vw /*300px*/; height: 127.083333vw /*610px*/; }
  .btn{width: 100%; height: 0; margin-top:-40px }
  .btn div{width: 7.291666vw /*35px*/ ; height: 16.666666vw /*80px*/;}
  .product{background-image: url(../../../../img/gillette/html_img/main/main_bg_02_mob.png); width: 100%; height: 79.16667vw /*380px*/; position: absolute; bottom: 0; z-index: 100;}
  .product>dl{width: 100%; height: 100%;}
  .product>dl>dt{width: 58.333333vw/*280px*/; height: 29.166666vw/*140px*/; position: absolute; bottom: 27.083333vw/*130px*/; left: 6.25vw/*30px*/;}
  .product_text{width: 58.333333vw/*280px*/; height: 25vw/*120px*/; min-width: 220px; position: absolute; bottom: 4.166666vw/*20px*/; left: 4.166666vw/*20px*/;}


/* --------#conBox01-----------------------*/
  #conBox01{padding-top: 0;}
  .main_logo{width: 70.833333vw/*340px*/; height: 25vw/*120px*/; font-size: 3rem; line-height: 25vw;}
  
/* --------#conBox02---------------------------------*/
.product dd ul{width: 100%; height: 48%; margin-bottom: 4%;}
.product dd ul:last-child{margin-bottom: 0;}
.product dd ul li{width: 25%; height: 100%; float: left;
  }
  
/* --------#conBox04----------------------------------*/

  #conBox04 .pic_box{width: 91.666667vw/*440px*/; height: 83.333333vw; margin-left: -45.833334vw;}
  #conBox04 .pic{position: absolute; width: 62.5vw/*300px*/; height: 70.833334vw/*340px*/; right: 10.416666vw/*50px*/; bottom: 0; z-index: 1;}
  #conBox04 .pic_02{width: 62.5vw /*300px*/; height: 70.833334vw/*340px*/; position: absolute; top: 0; left: 10.416666vw/*50.px*/; }

  #conBox04 .product_02>dl>dt{background-image: url(../../../../img/gillette/html_img/main/proshield_chill_blades.png); background-size: auto 100%; background-repeat: no-repeat;}

  #conBox04 ul li{width: 33.333333%;}
  .product_02 .product_icon_box li:nth-child(1){background-image: url(../../../../img/gillette/html_img/main/product_icon_05.png);}
  .product_02{position: relative; z-index: -100}
  #conBox04 .product>dl>dt{bottom: 31.25vw/*150px*/; width: 62.5vw/*300px*/; }
    

/* --------#videoBox01-----------------------*/
  
  .v_box{width: 100%; height: auto; top: 20%; left: 50%; transform:translateX(-50%);}
    .video_wrap{width: 100%; height: 46.875vw/*225px*/;}
    .v_box dl{width: 83.333333vw/*400px*/; height: auto; position: absolute; top: 0; left: 50%; transform: translateX(-50%);}
    .video_title{width:100%; height: 12.5vw/*60px*/; font-size: 10vw; line-height: 12.5vw;}
    .video_text{position: relative; padding: 1rem; box-sizing: border-box; width: 83.333333vw/*400px*/; height: 37.5vw/*180px*/; min-height: 165px ;margin: auto; }  

    .video_link{width: 25vw/*120px*/; height: 8.333333vw/*40px*/;  line-height: 8.3333333vw; margin: 20px auto 0; }
    .video_link>a{letter-spacing: 3px; font-size: 0.875rem; }


    .v_box video{width: 100%; height:100%; margin: auto; margin-bottom: 4.166667vw /*230px*/;}
    #videoBox01 .video_02{display: none;}
  
/* --------#videoBox02-----------------------*/
  #videoBox02{height: 95%;}
  #videoBox02 .video_link{display: none;}
 
/* --------#footBox-----------------------*/
  #footBox{float: left;}
  .copyright p{display: none;}
  .copy_wrap p:nth-child(1){display: block;}

  .sns_box_foot{display: none;}
  

}


/*  max-width 359px ==================================*/
@media screen and (max-width: 359px){
  h1{width: 40%; height: 100%; background-size: 100% auto }
  #headBox>div{width: 10%; height: 80%; position: absolute; top: 50%; transform: translateY(-50%);}
  .search{right: 15px; }
  .purchase_btn{bottom:35vw; font-size: 0.6875rem; letter-spacing: 2px;}
  #conBox04 .purchase_btn{bottom:30.41667vw}
  .product dd{width: 90%; left: 0; left: 50%; transform: translateX(-50%);}

}