/* ============  gillette_tablet.css  ============ */ 
@media screen and (min-width: 481px) and (max-width: 800px){

  #wrap{width: 100%; height: 100%;}
  .s_wrap{width: 100%; height: 100%; position: relative;}

/* ===========headBox=========================*/
  #headBox{width: 100%; height: 70px; padding: 15px 20px; box-sizing: border-box;}
  h1{width: 280px; height: 45px; }
  .gnb{width: 45px; height: 45px;}
  .menu{padding: 30px;}
  .menu>ul{width: 100%; height: 100%; margin-top: 90px;}
  .menu>ul>li{width: 90%; height: 40px; margin: auto; margin-bottom: 10px;}
  .menu a{line-height: 40px;}
  .gnb>button{width: 100%; height: 100%;}
  
  .search{width: 45px; height: 45px;}
  .search_bar{height: 90px;}
  
/* --------#conBox01 ----------------------------------------*/
.indicator{height: calc(100% - 90px);}

/* --------#conBox01 ----------------------------------------*/

  #conBox01{padding-bottom:0;}
  .main_logo{width: 70.3125vw/*540px*/; height: 20.833333vw/*160px*/; font-size: 16vw;line-height: 20.833333vw; }
    

/* --------#conBox02 & 03---------------------------------*/
.s_wrap{overflow: hidden;}
.icon_wrap{display: none;}
.background{top: 0; right: 0; width: 35%; height: 100%; }
.background::after{top: 0; left: 95%; width: 100%; height: 100%;}
.text_wrap{top: 50%; ;left: 4.557291vw/*35px*/; transform: translateY(-50%);width: 50.78125vw/*390px*/; height: 48.177083vw/*370px*/; }
.text_wrap dt{width: 100%; height: 15.625vw/*120px*/; }
.text_wrap dd{width: 90%; height: 20.18229vw/*155px*/; margin-top: 3.90625vw/*30px*/; font-size: 11px; line-height: 1.6;}
.text_wrap .purchase_btn{margin-top: 0; float: left; width: 30%}
.pic_wrap{top: 50%; right: 4.557291vw/*35px*/; transform: translateY(-40%); width: 39.0625vw/*300px*/; height: 104.166666vw/*800px*/;}


/* --------#conBox04---------------------------------*/
 .product{width: 100%; height: 100%;}

  
/* --------#videoBox-----------------------*/
 .v_box{width: 75.520833vw/*580px*/; height: 88.541666vw/*680px*/; top: 55% ; left: 50%; transform: translate(-50%, -50%);}
    .video_title{width:100%; height: 9.76562vw/*75px*/;font-size: 6vw; line-height: 9.76562vw;}
    
    .video_text{position: relative; padding: 1rem; box-sizing: border-box; width: 100%; height: 36.458333vw/*280px*/; min-height: 200px;}  
    .video_text h4{font-size: 1rem;}
    .video_text p{font-size: 0.875rem; line-height: 1.6rem;}
    #videoBox01 .video_02{display: none;}
  

/* --------#footBox-----------------------*/
  #footBox{float: left;}
  .copyright p{display: none;}
  .copy_wrap p:nth-child(1){display: block;}
  .sns_box_foot{display: none;}
}

@media screen and (min-width: 481px ) and (max-width: 640px ){
 #conBox04 .product dl dt{top: 15%;}
}