/*  gillette_main_pcall.css    */
@media screen and (min-width: 801px) {

/* ======================common======================*/
 
  .m_wrap{position: relative; width: 500%; height: 100%;}
  .s_wrap{width: 20%; height: 100%;  box-sizing: border-box; float: left; padding-top: 60px; padding-bottom:40px; overflow: hidden;}
  
  .indicator{width: 100%; height: 8px; top: auto; bottom: 40px; left: 50%; transform: translateX(-50%);} 
  .indicator:hover{height: 12px;}
  .indicator>ul>li{width: 20%; height: 100%; float:left;}
  .indicator>ul>li:last-child{margin-right: 0;}
  .indicator>ul>li:last-child{display: none}

  .sns_box{display: none;}

  

/* ======================conBox01======================*/
  #conBox01{background-color: transparent; padding: 0}
  .main_logo{width: 64.583334vw/*620...*/; height: 16.666667vw/*160...*/; font-size: 14vw;line-height: 16.666667vw;}
  
/* ===================conBox02 & 03======================*/
  .background{ top: 0; right: -10%; width: 40%; height: 100%;}
  .background::after{top: 0; right: -50%; width: 100%; height: 100%;}
  
  .pic_wrap{position: absolute; top: 50%; right: 20vw; transform: translateY(-50%); width: 18.75vw/*180px*/; height: 41.666666vw/*400px*/;} 
  #conBox02 .pic_wrap{background-image: url(../../../../img/gillette/html_img/main/pc_product_01.png); background-position: 0 100%; background-size: 90%;}
  
  .text_wrap{top: 50%; left: 0%; transform: translateY(-50%); width: 31.25vw/*300px*/; height: 18.75vw/*180px*/; min-width: 300px;}
  .text_wrap dt{width: 100%; height: 6.25vw/*60px*/; margin-bottom: 3.125vw/*15px*/; }
  .text_wrap dd{width: 100%; margin-bottom: 3.125vw/*30px*/; height: auto; font-size: 1.145833vw/*11px*/; line-height: 1.6; }
  .text_wrap .purchase_btn{margin-top: 0; box-sizing: border-box; width: 30%; height: 3.125vw/*30px*/;}
  .text_wrap .purchase_btn a{display: block; width: 100%; height: 100%; line-height: 1.5625vw/*15px*/; text-indent: 1.5625vw/*15px*/;}
  .text_wrap .purchase_btn p{width: 100%; height: 50%;}
  .text_wrap .purchase_btn i{display: block; width: 100%; height: 50%;}
  .icon_wrap{top: 50%; right: 5vw; transform: translateY(-45%);width: 16.666666vw/*160px*/; height: 16.666666vw/*160px*/; min-width: 140px;}
  
  .icon_wrap .icon_box{float: left; width: 4.166666vw/*40px*/; height: 100%;  }
  .icon_wrap .explain_box{float: left; width: 12.5vw/*120px*/; height: 100%;}
  .icon_wrap li{width: 100%; height: 20%; font-size: 1.145833vw/*11px*/; line-height: 4.6875vw/*45px*/; text-align: left; text-indent: 0.5rem; background-size: auto 70%}


.purchase{float: right;}
.purchase a{background-color: transparent; color: #ee6600; transition: all 700ms ease; font-size: 13px;}
.purchase a::before{position: absolute; z-index: -1; content: ""; display: block; width: 0; height: 100%; background-color: #ee6600; transition: all 700ms ease}
.purchase p{padding: 0rem 1rem; width: auto; height: auto; text-align: center; line-height: 30px;}
.purchase a:hover,
.purchase a:focus{color:#fff;}
.purchase a:hover::before,
.purchase a:focus::before{width: 100%;}
 
/* ======================conBox03======================*/
  #conBox03 .pic_wrap{right: 10vw; background-size: auto 90%; background-position: 0% 100%;}

/* ======================conBox04======================*/
  #conBox04 .pic_wrap{right: 5vw; width: 39.583333vw/*380px*/; height: 28.125vw/*270px*/; background-size: 80% auto; background-position: 15% 100%}
  #conBox04 .pic{width: 18.75vw/*180*/; height: 20.833333vw/*200*/;border-radius: 1.5625vw/*15px*/; box-shadow: 1.5rem 1.5rem 1rem rgba(0,0,0,0.6)}
  #conBox04 .pic_active{width: 22.916666vw/*220*/; height: 25vw/*240*/; }

  #conBox04 .product_01 dt{background-image: url(../../../../img/gillette/html_img/main/proshield_blades.png);}
  #conBox04 .product_02 dt{background-image: url(../../../../img/gillette/html_img/main/proglide_blades.png);}
  #conBox04 .product dd{color:#0e0e0e;}
  

  

  /* ===================videoBox======================*/
  
  #conBox05 .background{width: 60%;}
  .v_box{width: 31.25vw/*300px*/; height: 37.5vw/*360px*/; min-height: 330px; max-height: 650px; float: left; top: 50%; transform: translateY(-45%);}
  .v_box dl{width: 100%; height: 100%; position: relative;}
  .video_01{left:10%;}
  .video_02{left: auto; right:10%;}
  .video_title{box-sizing: border-box; width: 100%; height: 4.166666vw/*40px*/; font-size: 2.5vw; line-height: 4.166666vw/*40px*/; margin-bottom: 30px;}
  .v_box video{width: 100%; height: 17.708333vw/*170px*/; margin-bottom: 30px;}
  .video_text{padding: 1.5625vw/*15px*/; box-sizing: border-box; width: 100%; height: auto;  margin-top: 20px;}
  .video_text h4{margin-bottom: 5px; border-color: #0e0e0e}
  .video_text p{margin-bottom: 10px; width: 100%; height: auto; line-height: 1.6;}
  .video_text p:nth-of-type(2){margin-bottom: 0;}
  .video_01 .video_text a{color:#0e0e0e;}
  .video_02 .video_title a{color:#fff;}
  .video_02 .video_text {position: relative;}
  .video_02 .video_text p {line-height: 1.8;}
  #conBox06{display: none;}

  
  /* active animation ===============================*/
  
  .text_wrap.active{left: 15%;}
  .pic_wrap.active{right: 25vw;}
  .icon_wrap.active{right: 8.333333vw; /*80px*/;}
  #conBox03 .pic_wrap.active{right: 16.666666vw/*160px*/;}
  #conBox04 .pic_wrap.active{left: auto; right: 7.8125vw/*75px*/}

}

@media screen and (min-width: 1366px){
  .video_text h4{font-size: 1rem;}
  .video_text p{width: 100%; height: auto; font-size: 0.8125rem; line-height: 1.6;}
  .icon_wrap li{font-size: 14px;}
  .text_wrap dd{font-size: 14px;}
}