
/* ================  mobile ====================  */
@media screen and (max-width: 480px){

 
/* --------#conBox01 ----------------------------------------*/
.indicator{height: calc(100% - 60px);}
.indicator:hover{width: 12px;}

/* --------#conBox01 ----------------------------------------*/

#conBox01{padding-bottom:0;}
 .main_logo{width: 70.3125vw/*540px*/; height: 20.833333vw/*160px*/; font-size: 16vw;line-height: 20.833333vw; }
    

/* --------#conBox02 & 03---------------------------------*/
.s_wrap{overflow: hidden;}
.icon_wrap{display: none;}
.background{top: 0; right: 0; width: 35%; height: 100%; }
.background::after{top: 0; left: 96%; width: 200%; height: 100%;}
.text_wrap{top: 50%; ;left: 0; transform: translateY(-50%);width: 50.78125vw/*390px*/; height: auto; }
.text_wrap dt{margin-bottom: 3.90625vw/*30px*/; width: 100%; height: 15.625vw/*120px*/; }
.text_wrap dd{margin-bottom: 3.90625vw/*30px*/; width: 90%; height: auto;  font-size: 11px; line-height: 1.8;}
.pic_wrap{top: 50%; right: 0; transform: translateY(-40%); width: 39.0625vw/*300px*/; height: 75%;}

.purchase{margin-right: 5.2083333vw/*40px*/;}
.purchase p{padding: 0.3rem 0.8rem; font-size: 11px; }

/* --------#conBox04---------------------------------*/
#conBox04 .text_wrap{top: auto; bottom: 3.90625vw/*30px*/; left: 50%; transform: translateX(-50%); width: 80.729166vw/*620px*/;}
#conBox04 .pic_wrap{top: 45%; left: 30%; transform: translateX(-50%) translateY(-70%); width: 81.25vw/*390px*/; height: 57.291666vw/*275px*/;}
#conBox04 .pic{width: 37.5vw/*180px*/; height: 41.666666vw/*200px*/;}
#conBox04 .pic_active{width: 46.875vw/*225px*/; height: 51.0416666vw/*245px*/;}
#conBox04 .pic_02:after{border-radius: 3.125vw/*15px*/}

#conBox04 .text_wrap dt{margin-bottom: 10px; }
#conBox04 .text_wrap dd{width: 101%; margin-bottom: 30px}
	.btn button{background-image: url("../../../../img/gillette/html_img/main/arrow_tab.png");width: 3.90625vw/*30px*/; height: 10.416666vw/*80px*/;}

#conBox04 .purchase{position: absolute; bottom: 0; right: 0; margin: 0; }
  
/* --------#videoBox-----------------------*/
#conBox04 .background,
#conBox05 .background,
#conBox06 .background{left: 30%;  width: 150%; height: 100%; transform: skew(-80deg)}
#conBox04 .background::after,
#conBox05 .background::after,
#conBox06 .background::after{width: 500%; height: 100%;}

.v_box{width: 75vw/*360px*/;}
.video_title{padding: 1rem; box-sizing: border-box; width:100%; height:auto; font-size: 8vw; margin-bottom: 20px; }
.video video{margin-bottom: 10px;}
.video_text{position: relative; padding: 1rem 0.5rem; box-sizing: border-box; width: 100%; height: auto; color:#f0f1f2; margin-top: 20px;}
.video_text h4{font-size: 0.8125rem;}
.video_text p{font-size: 0.6875rem; line-height: 2; margin-bottom: 10px	 }
#conBox05 .video_02{display: none;}
  
}

/* active animation */
  .text_wrap.active{left: 4.557291vw/*35px*/; }
  .pic_wrap.active{right: 4.557291vw/*35px*/;}
  .icon_wrap.active{right: 8.333333vw; /*80px*/;}
  #conBox04 .pic_wrap.active{left: 50%;}


/*  max-width 359px ==================================*/
@media screen and (max-width: 359px){
  .purchase_btn{bottom:30.41667vw/*150px*/; font-size: 0.6875rem; letter-spacing: 2px;}
  .v_box{top: 10%;}
}