/* ============  gillette_tablet.css  ============ */ 
@media screen and (min-width: 481px) and (max-width: 768px){

  #wrap{width: 100%; height: 100%;}
  .s_wrap{width: 100%; height: 100%; position: relative;}

/* --------#headBox-----------------------*/
  #headBox{width: 100%; height: 90px; padding: 15px 30px; box-sizing: border-box;}
  h1{width: 280px; height: 60px; }
  .gnb{width: 60px; height: 60px;}
  .gnb>button{width: 100%;height: 100%;}
  .menu{display: none;}
  .menu>ul{width: 100%; height: 100%; margin-top: 90px;}
  .menu>ul>li{width: 90%; height: 40px; margin: auto; margin-bottom: 10px; background-color: #ccc;}
  .gnb>button{color:#fff; line-height: 40px; width: 100%; height: 100%; position: relative; z-index: 200}
  .gnb button:focus + .menu,
  .gnb button:hover + .menu{display: block; width: 45vw; height: 100vh; position: fixed; top: 0;left: 0; background-color: #002E6D; z-index: 100}

  .search{width: 60px; height: 60px;}
  .search>button{position: relative; z-index: 100;}
  .search>button:hover + .search_bar,
  .search>button:focus + .search_bar{display: block; margin-top: 90px;}

  
/* --------#conBox01 ----------------------------------------*/


/* --------#conBox01 ----------------------------------------*/

  #conBox01{padding-bottom:0;}
  .main_logo{width: 70.3125vw/*540px*/; height: 20.833333vw/*160px*/; font-size: 16vw;line-height: 20.833333vw; }
    

/* --------#conBox02 & 03---------------------------------*/

  .pic_box{width: 78.125vw/*600px*/; height: 104.166666vw/*620px*/; right:6.510416vw/*50px*/;  top: 15%; }
  .pic{width: 59.895833vw/*460px*/; height: 93.75vw/*800px*/;}
  .btn{width: 100%; height: 0; top: 25vh; }
    .prev{width: 5.208333vw/*40px*/; height: 15.625vw/*120px*/; background-size: 100%} 
    .next{width: 5.208333vw/*40px*/; height: 15.625vw/*120px*/; background-size: 100%} 

  .product{width: 100%; height: 52.083333vw/*400px*/;position: absolute; bottom: 0; background-image: url(../../../../img/gillette/html_img/main/main_bg_02_tab.png); background-size: auto 100%;  background-position: top; z-index: 200;}
  .product>dl{width: 100%; height: 100%;}

  .product>dl>dt{width: 54.6875vw/*430px*/;height: 16.927083vw/*130px*/; position: absolute; top: 20%; left:6.510416vw/*50px*/;}

  .product_text{width: 58.59375vw/*430px*/; height: auto; position: absolute; bottom:3.90625vw/*30px*/; left: 3.90625vw/*30px*/;}

  .product_icon_box{padding-top: 30px; width: 100%; height: 13.671875vw/*105px*/; box-sizing: border-box;}
  .product li{width: 25%; height: 100%;background-size: 50%}  
  .product li:last-child{margin-right: 0}
  .product_explain{width: 100%; height :auto;}
  .product_explain li{margin-top:15px; font-size: 13px; line-height: 16px;}

  .purchase_btn{width: 23.4375vw/*180px*/; height: 7.8125vw/*60px*/; position: absolute; bottom:3.90625vw/*30px*/; right: 3.90625vw/*30px*/; }
  .purchase_btn a{font-size: 1.5rem; line-height: 7.8125vw/*60px*/; letter-spacing: 5px; }



/* --------#conBox04---------------------------------*/
  #conBox04 .product{height: 55.989583vw/*430px*/;}
  #conBox04 .pic_box{position: absolute; top: 15%;}
  #conBox04 .pic{width: 53.385416vw/*410px*/; height: 55.989583vw/*430px*/; left: 60%; top: 10%; z-index: 100; }
  #conBox04 .pic_02{width: 42.96875vw/*330px*/; height: 48.170833vw/*370px*/; top: 0; left: 6.510416vw/*50px*/}
  #conBox04 .product dl dt{background-image: url(../../../../img/gillette/html_img/main/proshield_blades.png); height: 26.04166vw/*200px*/; position: absolute; left:6.510416vw/*50px*/; background-size: auto 80%; background-position: left}
    
  


  .product_02{z-index: -100}
  
  #conBox04 .product_02>dl>dt{background-image: url(../../../../img/gillette/html_img/main/proshield_chill_blades.png);}
  .product_02{width: 100%; height: 65.104166vw/*500px*/;position: absolute; bottom: 0;}
  .product_02>dl{width: 100%; height: 100%;}
  .product_02>dl>dd{width: 49.479166vw/*380px*/; height: 22.135416vw/*170px*/; position: absolute; bottom:3.90625vw/*30px*/; left: 3.90625vw/*30px*/;}
  .product_02>div{width: 23.4375vw/*180px*/; height: 7.8125vw/*60px*/; position: absolute; bottom:3.90625vw/*30px*/; right: 3.90625vw/*30px*/;}

  
/* --------#videoBox-----------------------*/
 .v_box{width: 80%; height: 80%; margin: auto; top: 50%; left: 50%; transform: translate(-50%, -47%);}
    .video_wrap{width: 100%; height: auto;}
    .v_box video{width: 100%; height:100%;}
    
    .v_box dl{width: 100%; height: 100%; position: absolute; top: 0; left: 50%; transform: translateX(-50%);}
    .video_title{width:100%; height: auto;font-size: 8vw; line-height: 12.5vw;}
    .video_text{position: relative; padding: 1rem; box-sizing: border-box; width: 100%/*400px*/; height: 30%/*230px*/; min-height: 165px;}  
    .video_text h4{font-size: 1rem;}
    .video_text p{font-size: 0.875rem; line-height: 1.6rem;}

    .video_link{width: 23.4375vw/*180px*/; height: 7.8125vw/*60px*/; line-height: 8.3333333vw; margin: 20px auto 0; }
    .video_link>a{letter-spacing: 3px; }

    #videoBox01 .video_02{display: none;}
    #videoBox02 .video_link{display: none;}
  

/* --------#footBox-----------------------*/
  #footBox{float: left;}
  .copyright p{display: none;}
  .copy_wrap p:nth-child(1){display: block;}
  .sns_box_foot{display: none;}
}

@media screen and (min-width: 481px ) and (max-width: 640px ){
 #conBox04 .product dl dt{top: 15%;}
}