/*gillette_main_common.css*/

#wrap{width: 500%; height: 100%; background-color: #fa7; font-family: "나눔고딕", nanumgothic, sans-serif;}
/* ============ haadBox ================================== */
#headBox{position: fixed; z-index: 1000; padding: 8px; box-sizing: border-box;top: 0; left: 0; width: 100%; height: 60px; background-color: #0e0e0e; box-shadow:0 0.3rem 0.3rem rgba(0,0,0,0.5);}
  h1{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); float: left; background-image: url(../../../../img/gillette/html_img/main/logo.png); background-size: auto 100%; background-repeat: no-repeat; background-position: center;}
  .gnb{float: left; background-image: url(../../../../img/gillette/html_img/main/menu_btn.png); background-size: 70%; background-repeat: no-repeat; background-position: center;}
  .gnb>button{position: relative; z-index: 200; width: 100%; height: 100%; color:#fff;}
  .gnb:focus .menu,
  .gnb:hover .menu{display: block;}
  
  .menu{display: none; position: fixed; z-index: 1000; top: 0;left: 0; width: 45vw; height: 100vh;  background-color: inherit;}
  .menu a{display: block; width: 100%; height: 100%; text-align: left;}
  .menu a:hover{border-right: 3px solid  #fff; } 
   
  
  .search{float: right; background-image: url(../../../../img/gillette/html_img/main/search_btn.png); background-size: 70%; background-repeat: no-repeat; background-position: center;}
  .search_bar{position: absolute;z-index: 1000; top: 0; right: 0; display: none; width: 100%; background-color: #0e0e0e;}
  .search button:focus + .search_bar{display: block;}
  

.s_wrap{width: 20%; height: 100%; box-sizing: border-box; float: left; padding-top: 60px; padding-bottom:40px ; position: relative; background-repeat: no-repeat; background-size: cover; background-position: center;}


/* ============ indicator================================ */
  

    
  .indicator{position: fixed; bottom: 0; right: 0; z-index: 500; width: 8px; height: calc(100% - 60px);  border-radius: 50%;} 
  .indicator:hover{height: 12px;}
  .indicator>ul{width: 100%; height: 100%;background-color: rgba(255,255,255,0.3);}
  .indicator>ul>li{width: 100%; height: calc(100%/6); float:left; border-radius: 4px;}
  .indicator>ul>li:first-child{background-color: #ff6600;}
  .indicator>ul>li:last-child{margin-right: 0;}




/* ============ conBox01 ================================== */

  .main_video{position: relative; width: 100%; height: 100%; overflow: hidden;}
  .main_video video{position: absolute; width: auto; height: auto; min-width: 100%; min-height: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 600;}
  .main_logo{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(0,0,0,0.8); background-image: url(../../../../img/gillette/html_img/main/logo.png); background-size: 90% auto ; background-repeat: no-repeat; background-position: center; z-index: 700;}
  .sns_box{position: absolute; z-index: 700; bottom: 10px; left: 10px; width: 40px; height: 90px;}
  .sns_box div,
  .sns_box_foot div{width: 100%; height: 40px; background-image: url(../../../../img/gillette/html_img/main/sns_box.png); background-size: 100%; background-repeat: no-repeat; margin-bottom: 10px;}
  .facebook{background-position: top; border-radius: 0.3rem}
  .youtube{background-position: bottom; border-radius: 0.3rem}

  .explain_box{text-align: center; color:#fff;}
 
  .icon_wrap{background-size: auto 100% ; background-repeat: no-repeat; background-position: center;}
  .icon_wrap li{ float: left;}

/* ============ conBox02 ================================== */
  .background{position: absolute; transform: skew(-20deg);background-color: #171717; }
  .background::after{content: ""; position: absolute; display: block; background-color: #171717}
  .pic_wrap{position: absolute;}
  .s_wrap{background-color: #f0f1f2;}
  .text_wrap{position: absolute;}
  .text_wrap dd{float: left;}
  .text_wrap dt{float: left; background-repeat: no-repeat; background-size: auto 100%; background-position: left;}
  .text_wrap .purchase_btn{float: right;}

#conBox02 .pic_wrap{background-image: url(../../../../img/gillette/html_img/main/product_01.png); background-size: auto 100%; background-repeat: no-repeat; background-position: center;}
#conBox02 .text_wrap>dl>dt{background-image: url(../../../../img/gillette/html_img/main/proshield_logo.png);}

  .icon_box li{background-repeat: no-repeat; background-size: auto 100%; background-position: center;}
  .icon_box li:nth-child(1){background-image: url(../../../../img/gillette/html_img/main/product_icon_01.png);}
  .icon_box li:nth-child(2){background-image: url(../../../../img/gillette/html_img/main/product_icon_02.png);}
  .icon_box li:nth-child(3){background-image: url(../../../../img/gillette/html_img/main/product_icon_03.png);}
  .icon_box li:nth-child(4){background-image: url(../../../../img/gillette/html_img/main/product_icon_04.png);}

  .purchase_btn{font-weight: 700; color: }
/* ============ conBox03 ================================== */
#conBox03 .pic_wrap{background-image: url(../../../../img/gillette/html_img/main/product_02.png); background-size: auto 100%; background-repeat: no-repeat; background-position: center;}
#conBox03 .text_wrap dt{background-image: url(../../../../img/gillette/html_img/main/proglide_logo.png);}


/* ============ conBox04 ================================== */

#conBox04{position: relative;}
#conBox04 .product{position: absolute; top: 0; left: 0;}
#conBox04 .pic_wrap .pic{margin: auto; background-image: url(../../../../img/gillette/html_img/main/product_03.png); background-size: contain; background-repeat: no-repeat; }
#conBox04 .text_wrap dt{background-image: url(../../../../img/gillette/html_img/main/proshield_blades.png); background-repeat: no-repeat;}
  .pic_02{position: absolute; background-image: url(../../../../img/gillette/html_img/main/product_04.png); background-size: contain; background-repeat: no-repeat; }
  .pic_02::after{content:""; display: block; width: 100%; height: 100%; background-color: rgba(0,0,0,0.7); border-radius: 1.875vw/*18px*/}
  
  .product_02{position: relative; z-index: -100}
  .product_02>dl{width: 100%; height: auto;}
  .product_02>dl>dt{background-image: url(../../../../img/gillette/html_img/main/proshield_chill_blades.png); background-size: auto 100%; background-repeat: no-repeat;}
  .icon_wrap{position: absolute;}

/*==========videoBox================================*/
  .v_box{position: absolute;}
  .video_wrap{width: 100%; height: auto;}
  .v_box video{width: 100%; height:100%;}
  .v_box dl{width: 100%; height: 100%;}
  .video_title{background-color: rgba(0,0,0,0.3); font-weight: 700; color:#fff; text-transform: uppercase; text-align: center;  }
  /*.s_wrap video{width: 100%; height: 100%;}*/
  .video_text{background-color: rgba(0,0,0,0.3); color:#fff;}
  .video_text h4{margin-bottom: 8px; font-size: 13px}
  .video_text p{margin-bottom: 20px; font-size: 11px; line-height: 16px;}

/*============footBox===========================*/
   #footBox{width: 100%; height: 40px; background-color: #0e0e0e; z-index: 500;}
  .copyright{width: 70%; height: 26px; margin: auto; margin-top: 7px; line-height: 26px}
  .copyright p{font-size: 6px; color: #fff; text-align: center; }
  

