# .gitignore

# .gitgnore란 git 폴더 내 생성되는 파일중에서 git으로 전송하지않고,
#  사용하고있는 로컬 컴퓨터에만 존재하게 하는 명령어 모음

# 사용방법 
# 전송하지 않을 디렉토리 명이나 파일명을 입력하면 된다.
# 모든 디렉토리: **/
# 모든 파일 : *.*
# 모든 jpg : *.jpg
# 예외처리할때는 앞에 !를 붙인다 
#     !work/ >> work폴더는 전송하지 않겠다.
#     !**/design/work/ >> design폴더 내의 work폴더만 전송

#  ===========================================================================

# design파일(psd, ai, indd, psb...)
**/*.psd
**/*.indd
**/*.eps
**/*.psb


