/* kellogg_brand_pc.css */

#wrap{width: 100%; height: auto;}

#banner{width: 100%; height: 400px; background-color: #aac}
#conBox{padding: 80px 0; width: 100%; height: auto;}
	.title{margin: 0 auto 60px; width: 780px; height: 60px;}
	.title>ul{width: 100%; height: 100%;}
	.title>ul>li{float: left; width: calc(100% / 3); height: 100%;}
	.title>ul>li>button{width: 100%; height: 100%; border: 1px solid  #e1e1e1; box-sizing: border-box; font-size: 1rem;}
	.title>ul>li.active button{border: none; background-color: #d50842; color: #fff; }
	.brand_list{margin: auto; width: 900px; height: auto;}
	.brand_list>ul{width: 100%; height: auto;}
	.brand_list>ul>li{float: left; width: 300px; height: 380px; border: 1px solid  #e1e1e1; box-sizing: border-box; background-size: 70%; background-position: 50% 20%; background-repeat: no-repeat; background-color: #fff; }
	.brand_list>ul>li>a{position: relative; display: block; width: 100%; height: 100%;}
	.brand_list>ul>li>a>p{position: absolute; bottom: 0; width: 100%; height: 60px; line-height: 60px; text-align: center; font-weight: 600;}

	.brand_list>ul>li:hover{transform:scale(1.05); box-shadow: 1rem 1rem 1rem rgba(0,0,0,0.1); border:3px solid #d50842; transition: all 500ms ease}