/*  background_01.css  */

#wrap{width: 100%;height: auto;min-height: 10rem;}
#hdeadBox{width: 100%; height: auto;}
h1{padding: 1rem 0; width: 100%; height: auto; background-color: #a9f; text-indent: 2rem; text-align: center;}

#bgBox_01 {margin-top: 2rem; padding: 0 1rem; width: 100%; height: auto; min-height: 1rem; background-color: #fff; box-sizing: border-box;}

h2{border-bottom: 0.1rem solid #a9f; margin-bottom: 1rem; text-align: center;}
h3{width: 100%; height: auto; padding: 0.5rem; box-sizing: border-box; background-color: #acf; text-align: center;}

.icon{margin: 1rem auto; width: 80%; height: 30rem; border: 1px solid #333; border-radius: 1rem ; 
      /*box-shadow: 0.5rem 0.5rem 0.5rem #acf, 1rem 1rem 1rem #fcd;*/}

.icon_01{background-image: url("../../img/icon/icon_04.png"); background-repeat:no-repeat; background-position: 20% 100%; /*transition: all 500ms linear;*/}
        /*  background-position: center, top, bottom, left, right등 ... 하나만 쓰면 다른값은 자동으로 중앙 설정 ;  >> 굳이 center top 필요없음, top만 입력하면 자동 중앙정렬. 
        하지만, 용어를 이용한 위치는 권장하지 않음. %나 정확한 수치를 입력하여 사용할것을 권장.
      */ 
/*.icon_01:hover{background-position: 70% 120%;}*/

.icon_01:hover{animation:exloding 1000ms infinite ease forwards;}

@keyframes exloding {
  0%{background-position: 20% -100%;};
  100%{background-position: 20% 200%;}
}

.icon_02{background-image: url("../../img/icon/icon_04.png"); background-repeat: no-repeat; background-position: 50% 50%; background-size: 70% auto; }

/*  background-size:  cover \ contain  \ 가로크기 세로크기 
    cover >> 꽉차게, 잘릴 수 있음.
    contain >>  모든 이미지가 다 나오도록, 여백생김  
    가로크기와 세로크기를 입력가능. 둘중 하나를 입력하지 않으면 auto로 설정
    ex))세로값을 입력하고 가로크기는 자동으로 변형되게하려면 'auto 세로크기' */

.icon_02:hover{background-size: 120% auto; transition: all 300ms linear;}


.icon_03{background-image: url("../../img/icon/icon_03.svg"); background-repeat: no-repeat; background-position: center; background-size: cover; background-color: #acf;}
.icon_03>span{display: block; position: relative; z-index: -1; width: 0; height: 0; overflow: hidden;}


.icon_04{width: 3rem; height: 4rem; background-image: url("../../img/icon/mouse_icons.png"); background-repeat: no-repeat; 
    background-position: -465px -450px;}



/*  exam    */
.exam{width: 100%; height: auto; background-color: #ddd; margin-bottom: 3rem;}
.exam>ul{width: 100%; height: auto;}
.exam>ul:after, ul::after{content:" "; display: block; clear: both;}
.exam>ul>li{margin: 1rem; float:left; border:1px solid; width: 110px; height: 120px; border-radius: 0.5rem;}
.exam a{display: block; width: 100%; height: 100%; background-image: url("../../img/icon/smashicons.png"); background-repeat: no-repeat;}
.exam a>span{display: block; width: 0; height: 0; position: relative; z-index: -1; overflow: hidden;}

.exam>ul>li:nth-child(1)>a{background-position: 0 -244px;}
.exam>ul>li:nth-child(1)>a:hover{background-position: -232px 0;}

.exam>ul>li:nth-child(2)>a{background-position: -120px 0 ;}
.exam>ul>li:nth-child(2)>a:hover{background-position: -470px -125px;}

.exam>ul>li:nth-child(3)>a{background-position: -240px -375px;}
.exam>ul>li:nth-child(3)>a:hover{background-position: -350px -250px;}

.exam>ul>li:nth-child(4)>a{background-position: -465px -250px;}
.exam>ul>li:nth-child(4)>a:hover{background-position: -465px -375px;}

.exam>ul>li:nth-child(5)>a{background-position: -470px -125px;}
.exam>ul>li:nth-child(5)>a:hover{background-position: -240px -250px;}

.exam>ul>li:nth-child(6)>a{background-position: -240px -374px;}
.exam>ul>li:nth-child(6)>a:hover{background-position: -580px -125px;}

.exam>ul>li:nth-child(7)>a{background-position: -240px -250px;}
.exam>ul>li:nth-child(7)>a:hover{background-position: -700px -250px;}

.exam>ul>li:nth-child(8)>a{background-position: -580px -375px;}
.exam>ul>li:nth-child(8)>a:hover{background-position: -240px -250px;}

#bg_area{padding: 1rem; margin: 3rem auto; width: 80%; height: auto; background-color: #cda;}
.bg_area{margin: 1rem auto; padding: 2rem; border: 1rem dotted #64a; width: 80%; height: 10rem; background-color: #fff; text-align: center; font-size: 2rem; font-weight: bold; color:#fff; text-shadow: 0.3rem 0.3rem 0.1rem #000; background-color: #06a;} 

.bg_area:hover{background-size: 120%;}

.area_02{background-clip: border-box;}
.area_03{background-clip: padding-box;}
.area_04{background-clip: content-box;}

/*  =============================================================================== */
.bg_img{background-image: url("../../img/bg/city_02.jpg"); background-repeat: no-repeat; background-position: center; background-size: cover; transition: all 200ms linear; border-color: #fa0}

.img_02{background-origin: border-box; }
.img_03{background-origin: padding-box; }
.img_04{background-origin: content-box; }

/*  background-clip: 배경 색상을 정해진 요소에 채울경우 색상의 범위를 지정할 수 있다. 
    >> border-box | padding-box | content-box ;  
    background-origin: 배경이미지를 정해진요소의 크기만큼 채울경우 그 범위를 지정할 수 있다.
    >> border-box | padding-box | content-box ;  
       border-box : 외곽선의 영역까지;
       padding-box : padding의 영역까지
       content-box : border와 padding이 아닌 내용의 영역을 의미

       background-clip과 background-origin은 모두 css의 신 속성므로 vnedor prefix 사용해야한다.
*/

#bgArea02{margin-bottom: 20rem; width: 100%; height: auto; border: 2px solid  #fa0;}

#bgArea02>div{width: 100%; height: 30rem;background-repeat: no-repeat; background-position: 50%; background-size: auto 50%; border: 1px solid  #333;}
#bgArea02>.fixed{background-image: url("../../img/bg/car_01.jpg"); background-attachment: fixed;}
#bgArea02>.scroll{background-image: url("../../img/bg/city_01.jpg"); background-attachment: scroll;}



/*
background-attachment : 브라우저내에서 배경이미지를 position:fixed 처리한것처럼 만들 수 있는 기능;
>> fixed | scroll 
단순히 이미지를 고정시키는 기능으로 사용할수는 있지만.
parrallax 기능을 이용하는 경우에는 대부분 scroll 기능으로 사용한다
*/

#gradient{margin: auto; width: 80%; height: auto;}
#gradient>div{padding: 1rem; box-sizing: border-box; width: 100%; height: 25rem; border: 1px solid  #333; margin-bottom: 2rem;}
.linear_01{margin-top: 1rem; background-color: #fc0; 
  background-image: -webkit-linear-gradient(#fc0, #0dd);
  background-image: -moz-linear-gradient(#fc0, #0dd);
  background-image: -ms-linear-gradient(#fc0, #0dd);
  background-image: -o-linear-gradient(#fc0, #0dd);
  background-image: linear-gradient(#fc0, #0dd);}

.linear_02{background-image: linear-gradient(90deg, #fc0 10%, #0dd 60% ,#caf);}
.linear_03{background-image: linear-gradient(135deg, #fc0 , #fff 50%, #fc0 50%);}
.linear_03:hover{background-image: linear-gradient(100deg, #fc0 , #fcc 50%, #fc0 50%);}

.linear_04{position: relative; background-image: linear-gradient(0deg, #fc0, #0dd);}
.linear_04:before{content: " "; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-image: linear-gradient(0deg, #939, transparent); transition: all 400ms linear; opacity: 0.7;}

.linear_04:hover:before{opacity: 0;}
.radial_01{background-image: radial-gradient(#fff, #fd0, #fac);}

/*  background-image:url(); 
    background-position 0 0; 
    background-repeat:  ; 
  
    background-colr: #fff;
    background-clip: ; 
    background-origin: ;
    background-size: ;
    background-attachment: ;

    background-image:linear-gradient( 각도, 색A 위치, 색B 위치);






    */