/*  form_02.css  */

#wrap{padding: 1rem; box-sizing: border-box; width: 100%; max-width: 60rem; height: auto; background-color: #EEEEF0;}
h1{background-color: #0566A3; padding: 1rem; text-align: center; color:#fff; margin-bottom: 2rem;}
.box{width: 90%; height: auto; padding: 1rem; margin: auto; background-color: #DCEBF1;}
h2{margin-bottom: 1.5rem; text-align: center; background-color: #0C90AD; padding: 1rem; color:#fff;}
form{width: 100%; height: auto;}
fieldset{margin-bottom: 2rem; border-style: solid; border-color: #7DCADD; background-color: #EEEEF0;}
legend{box-sizing: border-box; padding: 1rem 1rem; width: 100%; color: #fff; background-color: #7DCADD; height: 1.5rem; font-weight: bold; font-size: 1rem; line-height: 0rem; border-radius: 0.5rem} 
fieldset div{margin-bottom: 2rem;}
input{margin-bottom: 0.5rem;}

/*=====================================*/
.form_basic_01 input{margin-bottom: 1rem; display: block; box-sizing: border-box;border: 2px solid  #333; width: 60%; height: 2rem; background-color: transparent; text-indent: 0.5rem; float: left;}

.form_basic_01 input:focus{background-color: #E5D6CD; border-color: #F6AA9D;}

/*====================================*/
.view input:focus{border-color: #fc0; outline: 2px solid #f23; outline-offset: 0.2rem;} 

/*=====================================*/
.radio input{width: 0; height: 0; position: relative; z-index: -100;}
.radio label>i{display: inline-block; width: 1rem; height: 1rem; background-color: #fff; border-radius: 50%; transition: all 500ms}
.radio input:checked + label>i{background-color: #fc0;}

.radio>ul{position: relative;}
/*
.radio li>label>i{position: absoute; top: 0; left: -0.5rem;}
.radio li:nth-child(1)>input:checked+label>i{top: 0;}
.radio li:nth-child(2)>input:checked+label>i{top: 40%;}
.radio li:nth-child(3)>input:checked+label>i{top: 70%;}*/

.checkbox input{width: 0; height: 0;  z-index: -100;}
.checkbox label{display: block; margin-right: 1rem; position: relative; padding:0 2rem; background-color: #fff; border-top-left-radius:0.5rem; border-bottom-right-radius:0.5rem; width: 4rem; height: 2rem; font-size: 1rem; box-shadow:0.2rem 0.2rem 0.2rem #171717; float: left; text-align: right; line-height: 2rem;} 

.checkbox label div{background-color: #ccc; width: 3.5rem; height: 1.5rem; position: absolute; top: 0.3rem; left: 0.5rem; border-radius: 1rem}
.checkbox label i{display: inline-block; position: absolute; top: 0;left: 0; width: 1.5rem; height: 1.5rem; background-color: #ddd; z-index: 100; border-radius: 1rem; transition: all 400ms;}
.checkbox input:checked+label i{left: 2rem; background-color: #1FBC02;}

input[type="image"]{width: 100px; height: 100px;}
input[type="submit"]{width: 100px; height: 100px; background-color: #dfd; color:#fff; background-image: url("../../img/icon/icon_01.svg"); background-repeat: no-repeat; background-position: 50% 50%;}
/*-==================================*/
select{width: auto; height: 2rem; color:#393;}
button{cursor:pointer;}


/*
.checkbox input:checked{background-color: #fc0;}*/
