/*  sign_in.css  */
#wrap{width: 100%; height: 100%;}
h1{text-align: center; margin: 1rem;}
form{width: 650px; height: 726px; margin: auto;}
table, th, td{border-collapse: collapse;}
input,th,td{border: 1px solid  #333;}
input{ margin-left:3px;}
p{margin-left: 5px;}
button{height: 24px; width: 80px;}
input[type="submit"],
input[type="reset"],
input[type="button"],
select{cursor:pointer;}
th{width: 90px; height: 35px; text-indent: 0.6rem; text-align: left; background-color: #fffff0;}
td{width: 550px; height: 35px; background-color: #fffff0;}
input{width: 180px; height: 24px;}
#int01,#int02,#int03,#int04,#gender1,#gender2,#phone1,#phone2,#phone3{width: 14px; height: 14px;}
.in_text:before{content:"*"; color:#f00; margin-left: 5px;}
.in_text:after{content:"같은 암호를 입력하세요"; color:#333;}
.in_text_02:before{content:"@";}

tr:nth-child(5) input{float: left;}
tr:nth-child(5) p{float: left;}
#emailSel{width: 116px; height: 24px;}
tr:nth-child(8) th,tr:nth-child(8) td{height: 60px;}
#email{width: auto; height: auto;}
#phoneNum1,#phoneNum2,#phoneNum3{width: 60px; height: 20px; float: left;}
label[for="phoneNum1"],
label[for="phoneNum2"],
label[for="phoneNum3"]{float: left;}
.last_btn{width: 125px; height: 30px; margin: 3px auto;}
textarea{width: 540px; height: 180px;}
input[type="submit"],input[type="reset"]{display: block; padding: 2px 8px; width: auto; height: auto; float: left; }
input[type="reset"]{float: right;}
