/*  sign_in_02.css  */

#wrap{width: 100%; height: 100%; padding: 40px 0;}
h2{width: 700px; height: 60px; background-image: url(../../img/sign_in_02_icon.png); background-repeat: no-repeat; background-position: -10px -48px; line-height: 60px; text-indent: 60px; font-size: 2.375rem; margin: auto;}
.ess{width: 130px; height: 25px; float: right;}
.ess>p{float: left;}
.ess>i{float: left;}
.ess>i:before{line-height: 20px;}

form{width: 700px; height: auto; margin: auto; padding-bottom: 40px; position: relative;}
fieldset{width: 100%; height: auto;}

button{margin: 0; padding: 0;}
a{width: 80px; height: 30px;}
dl{width: 700px; height: 560px;
margin: auto;float: left;}
dt{width: 30%; height: 44px; background-color: #ffa2bd; text-align: left; float: left;border: 1px solid #fff; box-sizing: border-box;}
dd{width: 70%; height: 44px; padding-top: 6px;background-color: #dfdfdf; float: left;border: 1px solid #fff; box-sizing: border-box; }
dt label{font-size: 1.125rem;margin-top: 6px;}
label{font-size: 1.12}

.num_img{width: 26px; height: 26px; margin-top: 4px; margin-left: 24px; float: left; background-image: url(../../img/sign_in_02_icon.png); background-repeat: no-repeat; margin-top: 10px;}

dt label{}
dt:nth-of-type(1) .num_img{background-position: -10px -10px;}
dt:nth-of-type(2) .num_img{background-position: -44px -10px;}
dt:nth-of-type(3) .num_img{background-position: -77px -10px;}
dt:nth-of-type(4) .num_img{background-position: -110px -10px;}
dt:nth-of-type(5) .num_img{background-position: -144px -10px;}
dt:nth-of-type(6) .num_img{background-position: -178px -10px;}
dt:nth-of-type(7) .num_img{background-position: -211px -10px;}
dt:nth-of-type(8) .num_img{background-position: -244px -10px;}
dt:nth-of-type(9) .num_img{background-position: -278px -10px;}
dt:nth-of-type(10) .num_img{background-position: -312px -10px;}
i::before{width: 10px; height: 100%; float: left; line-height: 40px; color:#052987; font-weight: bold; font-size:0.8rem; margin-right: 5px;}
.deco{width: 10px; height: 100%; float: right; background-color: #fe558c}

dt label{float: left; width: 100px; height: 30px; margin-left: 10px; line-height: 30px; font-weight: bold;}
button,a{width: 80px; height: 30px; background-color: #052987; border-radius: 3px; color:#fff; cursor: pointer;}

input{width: 230px; height: 30px; background-color: transparent; border-bottom: 1px solid  #052987; margin-left: 20px;}

.id_check{width: 30px; height: 30px; float: right; margin-right: 115px; background-image: url(../../img/sign_in_02_icon.png); background-repeat: no-repeat; background-position: -44px -120px;
}

.r_check{width: 26px; height: 26px; background-image: url(../../img/sign_in_02_icon.png); background-repeat: no-repeat; background-position: -44px -170px; float: left; margin-left:24px; margin-top: 3px; margin-right: 6px;}
.gender_box label{float: left; line-height: 30px;}
.gender_box input{width: 0; height: 0;}
.gender_box input:checked +label .r_check{ background-image: url(../../img/sign_in_02_icon.png); background-position: -10px -170px;}

.pw_box p,.pw_box input {float: left;}
.pw_re_box p, .pw_re_box input {float: left;}
.pw_box p, .pw_re_box p{width: auto; height: 30px; margin-left: 15px; line-height: 30px; font-size: 14px;}

.email_dd input, select{width: 136px; float: left;}
.email_dd select{height: 30px; margin-left: 20px; background-color: transparent; border: none; border-bottom: 1px solid  #052987 ;}
.in_text:before{content:"@"; float: left; line-height: 30px; margin: 0 5px;}
.email_dd input:nth-of-type(2){margin-left: 0;}

.phone_dt,.phone_dd{height: 88px;}
.phone_dt{position: relative;}
.th_wrap{width: auto; height: 30px; position: absolute;}
.phone_ck{width: 0; height: 0;}

.phone_dd>label{float: left; margin: 0 5px;line-height: 30px; margin-right: 25px;}
.phone_dd input{float: left; width: 136px; margin: 0px;}
.phone_dd select{height: 30px; margin-left: 20px; background-color: transparent; border: none; border-bottom: 1px solid  #052987 ;}
.phone_dd input:before +label .r_check{ background-image: url(../../img/sign_in_02_icon.png); background-position: -10px -170px;}
#phoneNum1{margin-left: 24px;}
.phone_txt{margin-top: 20px;}
.phone_txt label{float: left}
label[for="phoneNum2"]:before,
label[for="phoneNum3"]:before{content:"-"; margin: 0 6px; font-size: 1.5rem;}

.int_dd input{float: left; width: 0; height: 0;}
.int_dd label{float: left; line-height: 30px; margin-right: 30px;}
.check_icon{width: 26px; height: 26px; background-image: url(../../img/sign_in_02_icon.png); background-repeat: no-repeat; background-position: -44px -215px; float: left; margin-left:24px; margin-top: 3px; margin-right: 6px;}
.int_dd input:checked +label .check_icon{ background-image: url(../../img/sign_in_02_icon.png); background-position: -10px -215px;}

.intr_dt{position: relative; height: 124px;}
.intr_dd{height: 124px; padding: 10px 20px 15px; box-sizing: border-box; }
textarea{width: 100%; height: 100%; border: 1px solid  #052987;}

.last_btn{width: 292px; height: 40px; margin-top: 15px; margin: 20px auto;}
.last_btn button{border-radius: 3px; margin: 0px;}
.last_btn button[type="submit"]{width: 150px; height: 40px; background-image: url(../../img/sign_in_02_icon.png); background-repeat: no-repeat; background-position: -10px -258px; float: right;  font-size: 1.125rem; font-weight: bold;  text-indent: 1rem; letter-spacing: 1rem; text-shadow: 1px 1px #171717; color:#dfdfdf;}
.last_btn button[type="reset"]{width: 110px; height: 30px; border: 1px solid  #052987; float: left; margin-top: 5px; background-color: #fff; color:#000;}