/* gillette_tip_tablet.css */

@media screen and (min-width: 481px) and (max-width: 768px){
	
/*==================sidemenu==================*/

#sideMenu{display: none; padding: 2.083333vw/*10px*/ 2.083333vw/*10px*/;  box-sizing: border-box; width: 40%; height: 100%; float: left; position: fixed; left: 0; z-index: 100}
  .s_title{width: 12.5vw/*160px*/; height: 8.333333vw/*40px*/; font-size: 1.6rem; margin: auto; margin-bottom: 10.416666vw/*50px*/  ;}
  .submenu{width: 80%; height: auto; margin: auto; }
  .submenu>dl{width: 100%; height: 50%; margin-bottom: 41.666666vw/*20px*/;}
  .submenu>dl>dt{margin-bottom: 2.083333vw/*10px*/; font-weight: bold;}
  .submenu>dl>dd{margin-left: 1.25vw/*6px*/; margin-bottom: 0.833333vw/*4px*/;}

/*===================conBox===================*/
.s_wrap{padding: 70px 0 40px}
.title{width: 100%; height: 220px; font-size: 3rem; line-height: 220px;}
.con_wrap{margin: 50px auto; width: 79.427083vw/*610px*/; height: auto;}
.con_wrap_01{width: 83.333333vw/*640px*/; height: 117.171875vw/*900px*/;}

.tip_title{margin-bottom: 5.208333vw/*40px*/ ;width: 39.0625vw/*300px*/; height: 55.989583vw/*430px*/;}
.tip_title:nth-child(2n){float: right;}
.tip_title{margin-bottom: 5.208333vw/*40px*/;}
.tip_title:nth-child(3),.con_wrap dl:nth-child(4){margin-bottom: 0;}

.tip_title dl{padding: 15px 10px; width: 100%; height: auto; min-height: 100px }
.tip_title dt{margin-bottom: 10px; width: 100%; height: auto; font-size: 14px; text-indent: 5px;}
.tip_title dd{padding-left: 10px; width: 100%; height: auto; min-height: 75px; font-size: 11px; line-height: 1.6;}

/*===================con_02===================*/

.con_wrap ul{margin: auto; width: 100%; height: 100%; }
.con_wrap ul li{width: 100%; height: 20.833333vw/*160px*/; min-height: 120px; margin-bottom: 20px;}

.con_wrap ul li .sub_text{right: 0;}
.con_wrap ul li:nth-child(2n) .sub_text{left: 0; right: auto;}

.con_wrap ul li:last-child{margin-bottom: 0;}

.sub_text{padding: 0.4rem 0.7rem; height: auto; width: auto; font-size: 14px; letter-spacing: 2px}
.sub_text:first-child{top: 5%; border-left: 4px solid  #e60;}
.sub_text_2{top: calc(5% + 34px);}

.con_wrap ul li:nth-child(2n) .sub_pic{float: right;}
.sub_pic{float: left; width: 62.5vw/*480px*/; height: 100%; background-color: #daa;}

.more{width: 130px; height: 40px;  float: right; margin-top: 4.166666vw/*20px*/; margin-right: 50px}

#conBox05{padding-bottom: 30px;}
