/* gillette_tip_moblie.css */

@media screen and (max-width: 480px){

/* =============sideMenu ========================*/
#sideMenu{display: none; padding: 2.083333vw/*10px*/ 2.083333vw/*10px*/;  box-sizing: border-box; width: 40%; height: 100%; float: left; position: fixed; left: 0; z-index: 100}
  .s_title{width: 12.5vw/*160px*/; height: 8.333333vw/*40px*/; font-size: 1.6rem; margin: auto; margin-bottom: 10.416666vw/*50px*/  ;}
  .submenu{width: 80%; height: auto; margin: auto; }
  .submenu>dl{width: 100%; height: 50%; margin-bottom: 41.666666vw/*20px*/;}
  .submenu>dl>dt{margin-bottom: 2.083333vw/*10px*/; font-weight: bold;}
  .submenu>dl>dd{margin-left: 1.25vw/*6px*/; margin-bottom: 0.833333vw/*4px*/;}

/* ==============conBox01=======================*/
#conBox01{}
.s_wrap{padding-top: 60px; box-sizing: border-box; float: left; width: 100%; height: auto;}
.title{width: 100%; height: 100px; font-size: 2rem; line-height: 100px;}
.con_wrap{margin: 50px auto 8.333333vw/*40px*/; width: 83.333333vw/*400px*/; height: auto; }
.con_wrap_01{margin: 50px auto; width: 87.5vw/*420px*/; height: auto; }
.tip_title{margin-bottom: 20px ;width: 41.66666vw/*200px*/; height: 58.333333vw/*280px*/;}
.tip_title:nth-child(2n){float: right;}
.tip_title:nth-last-child(1),
.tip_title:nth-last-child(2){margin-bottom: 0;}

.tip_title a{background-size: auto 180px;}
.tip_title dl{padding: 10px; width: 100%; height: auto; /*min-height: 70px;*/}
.tip_title dt{margin-bottom: 10px; width: 100%; height: auto; font-size: 13px; text-indent: 5px;}

.tip_title dd{padding-left: 10px; width: 100%; height: auto; min-height:50px; font-size: 8px;}

/*===============con_02========================*/

.con_wrap ul{margin: auto; width: 100%; height: 100%; }
.con_wrap ul li{width: 100%; height: 20.833333vw/*100px*/; min-height: 80px; margin-bottom: 30px;}

.con_wrap ul li:nth-child(2n) .sub_text{left: 0; right: auto;}
.con_wrap ul li:nth-child(2n) .sub_pic{float: right;}
.con_wrap ul li:last-child{margin-bottom: 0;}

.sub_text{top:5%; right: 0; width: auto; height: auto;}
.sub_text span {display: inline-block; padding: 0.2rem 0.5rem; height: auto; width: auto; font-size: 11px;}
.sub_text span:first-child{margin-bottom: 3%; border-left: 5px solid  #e60;}
.sub_text span:last-child{margin-left: 5px;}
.sub_pic{float: left; width: 66.666666vw/*320px*/; height: 100%;}
.con_wrap ul li:nth-child(2n) .sub_pic{float: right;}

.con_wrap ul li:hover .sub_pic{transform: translateY(-5px); background-size: 110%}
.con_wrap ul li:hover .sub_text{transform: translateY(3px);}

.more{margin-right: 4.166666vw/*20px*/;}
.more p{padding: 0.3rem 0.8rem; font-size: 11px; }

#conBox05{padding-bottom: 30px;}

 