/* gillette_tip_pcall.css */

@media screen and (min-width: 801px) {
	
#wrap{width: 100%; height: 100%; overflow: hidden;} 
.s_wrap{position: relative; top: 60px; box-sizing: border-box; width:calc(100% / 6); height: calc(100% - 100px); float: left;}

/*===================conBox===================*/
.title{font-size: 2.625rem; padding: 1.5rem 0;}

.con_wrap{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -40%); width: 70%; height: 65%; }
.con_wrap_01{width: 87vw/*835px*/; height: 29.166666vw/*280px*/; min-width: 750px; padding: 0;}

.tip_title{margin-right: 2.6041666vw/*25px*/; width: 19.791666vw/*190px*/; height: 100%; min-width: 170px; min-height: 310px;}
.tip_title:last-child{margin-right: 0;}
.tip_title a {background-size: auto 21.875vw/*210px*/}
.tip_title dl{padding:1.0416666vw/*10px*/ 0.5208333vw/*5px*/;width: 100%; height: auto;  min-height: 140px; }
.tip_title dt{margin-bottom: 1.0416666vw/*10px*/; height: auto; width: auto; font-size: 16px; text-indent: 0.6rem;}
.tip_title dd{padding-left: 10px; width: 100%; min-height: 90px; font-size: 13px; line-height: 1.6;}

.tip_title:hover{transform: translateY(-10px);}
.tip_title a:hover dt{border-left: 4px solid  #e60;}
.tip_title a:hover dd{transform: translateY(5px);}

/*===================con_02===================*/
.con_wrap ul{margin: auto; width: 100%; height: 100%; }
.con_wrap ul li{float: left; width: 49%; height: 40%; margin-bottom: 1.5625vw/*15px*/;}

.con_wrap ul li:nth-child(2n){float: right;}
.con_wrap ul li:nth-child(-1),
.con_wrap ul li:nth-child(-2){margin-bottom: 0;}

.sub_text{bottom: 10%; left:5%; width: auto; height: auto;}
.sub_text a{display: block; width: 100%; height: 100%;  }
.sub_text p {display: inline-block; padding: 0.3rem 1rem; height: auto; width: auto;  background-color: #0e0e0e; font-size: 14px; color:#fff;}

.sub_text p:first-child{margin-bottom: 3%; border-left: 6px solid  #e60;}
.sub_text p:last-child{margin-left: 6px;}

.sub_pic{float: left; width: 100%; height: 100%; }
.sub_pic a::before{position: absolute; content:""; display: block; width: 100%; height: 100%; background-color: rgba(0,0,0,0.4); transition: all 700ms ease; opacity:1;}
.con_wrap ul li:hover .sub_pic a::before{opacity: 0;}


.more{position: absolute; bottom: 0; right: 0}
.more a{background-color: transparent; color: #ee6600; transition: all 700ms ease; font-size: 13px;}
.more a::before{position: absolute; z-index: -1; content: ""; display: block; width: 0; height: 100%; background-color: #ee6600; transition: all 700ms ease}
.more p{padding: 0rem 1rem; width: auto; height: auto; text-align: center; line-height: 30px;}
.more a:hover,
.more a:focus{color:#fff;}
.more a:hover::before,
.more a:focus::before{width: 100%;}

#conBox05{padding-bottom: 30px;}


@media screen and (min-width: 1280px) {

}

@media screen and (min-width: 769px) and (max-width: 959px) {
  .tip_title dl{min-height: 130px; }
  .tip_title dd{padding-left: 8px; width: 100%; min-height: 70px; font-size: 11px;
}
