/* gillette_tip_pcall.css */

@media screen and (min-width: 801px) {
	
#wrap{width: 600%; height: 100%;} 
.s_wrap{position: relative; top: 60px; box-sizing: border-box; width:calc(100% / 6); height: calc(100% - 100px); float: left;}

/*===================conBox===================*/
.title{font-size: 2.625rem; padding: 1.5rem 0;}

.con_wrap_01{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -45%); width: 87vw/*835px*/; height: 29.166666vw/*280px*/; min-width: 750px; padding: 0;}

.tip_title{margin-right: 2.6041666vw/*25px*/; width: 19.791666vw/*190px*/; height: 100%; min-width: 170px; min-height: 310px; transition: all 600ms ease;}
.tip_title:last-child{margin-right: 0;}
.tip_title a {background-size: auto 21.875vw/*210px*/}
.tip_title dl{padding:1.0416666vw/*10px*/ 0.5208333vw/*5px*/;width: 100%; height: auto;  min-height: 140px; }
.tip_title dt{margin-bottom: 1.0416666vw/*10px*/; height: auto; width: auto; font-size: 16px; text-indent: 0.6rem;}
.tip_title dd{padding-left: 10px; width: 100%; min-height: 90px; font-size: 13px; line-height: 1.6;}

.tip_title:hover{transform: translateY(-10px);}

/*===================con_02===================*/

.con_wrap ul{margin: auto; width: 100%; height: 100%; }
.con_wrap ul li{width: 100%; height: 20.833333vw/*160px*/; min-height: 120px; margin-bottom: 40px;}

.con_wrap ul li:nth-child(2n) .sub_text{left: 0; right: auto;}
.con_wrap ul li:nth-child(2n) .sub_pic{float: right;}
.con_wrap ul li:last-child{margin-bottom: 0;}

.sub_text{top:5%; right: 0; width: auto; height: auto; top:5%;}
.sub_text span{display: inline-block; padding: 0.3rem 0.7rem; height: auto; width: auto; font-size: 14px; letter-spacing: 2px;}
.sub_text span:first-child{margin-bottom: 3%; border-left: 4px solid  #e60;}
.sub_text span:last-child{margin-left: 5px;}

.sub_pic{float: left; width: 62.5vw/*480px*/; height: 100%; background-color: #daa;}

.more{position: absolute; bottom: 5.2083333vw/*40px*/; right: 6.7708333vw/*65px*/ }
.more a{font-size: 13px}
.more p{padding: 0rem 1rem; width: auto; height: auto; text-align: center; line-height: 30px;}

#conBox05{padding-bottom: 30px;}


@media screen and (min-width: 1280px) {

}

@media screen and (min-width: 769px) and (max-width: 959px) {
  .tip_title dl{min-height: 130px; }
  .tip_title dd{padding-left: 8px; width: 100%; min-height: 70px; font-size: 11px;
}
