/* gillette_tip_pcall.css */

@media screen and (min-width: 769px) {
	
#wrap{width: 500%; height: 100%;} 
.s_wrap{position: relative; top: 60px; box-sizing: border-box; width:20%; height: calc(100% - 100px); float: left; position: relative; overflow: auto; background-image: linear-gradient(90deg, #171717 50% , #031a46);}
#conBox01 {overflow: hidden;}

/* --------#headBox-----------------------*/

 h1{width: 160px; height: 44px;}
.gnb>button{display: none;}
.search{background-color: #002E6D; float: right;}
  .search_bar{background-color: #002E6D; float: right; width: 100%; height: 100%; position: absolute; top: 0; right: 0; display: none;}
  .menu{background-color: #002E6D; float: left; position: absolute; top: 50%; left: 50%; width: 50vw; min-width: 500px; height: 40px; margin-left: -25vw; margin-top: -20px; }
  .menu>ul{width: 100%; height: 100%; float: left;}
  .menu>ul>li{width: 20%; height: 100%; box-sizing: border-box; border-right: 1px solid #fff; float: left; color: #ccc; text-align: center; line-height: 40px;}
  .menu>ul>li:last-child{border: 0;}

  .search{width: 44px; height: 44px; float: right;}
  .search>button{position: relative; z-index: 100;}
  .search>button:hover + .search_bar,
  .search>button:focus + .search_bar{display: block; margin-top: 60px;}

/*  ===================sideMenu==================== */
#sideMenu{position: absolute; top: 50%; left: 0; transform:translateY(-50%); z-index: 100; padding: 70px 1.041666vw/*10px*/; box-sizing: border-box;width: 18.75vw/*180px*/; min-width: 180px; max-width: 240px; height: 100%;}
.sub_menu{width: 80%; max-width: 170px; height: auto; margin: auto; position: absolute; top: 50%; left: 15%; transform:translateY(-50%); }
.sub_menu ul{width: 100%; height: 50%; margin-bottom: 20px;}
.sub_menu li{margin-bottom: 10px; width: 100%; height: 2.083333vw/*20px*/; min-height: 20px; max-height: 30px; font-weight: 600;}

/*===================conBox===================*/

.title{display: none; width: 400px; height: 45px/*60px*/; margin: 10px auto; font-size: 2.625rem; line-height: 45px; }
#conBox01 .title{display: block;}

.con_wrap{width: 100%; height: 100%; padding-left: 200px; box-sizing: border-box;}
.con_01{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 86.979166vw/*835px*/; height: 33.3333333vw/*320px*/; min-width: 750px;padding: 0;}

.tip_title{width: 19.791666vw/*190px*/; min-width: 170px; height: 100%; margin-right: 2.6041666vw/*25px*/;}
.tip_title:last-child{margin-right: 0;}

.title_pic{width: 100%; height: 185px;}
.tip_title dt{left: 0; bottom: 95px; width: 100%; height: 4.166666vw/*40px*/; font-size: 14px;}
.tip_title dt a{left: 4%; width: 70%; height: auto; border-left: 4px solid  #e60; text-indent: 0.5rem;} 
.tip_title dd{left: 0; bottom: 0; padding: 10px 10px 10px 20px; width: 100%; height: 95px; font-size: 11px; line-height: 1.6;}

/*===================con_02===================*/

.con_wrap ul{position: absolute; top: 50%; transform: translateY(-50%); margin-left: 30px; width: 135.416666vw/*1300px*/ ; height: 33.333333vw/*320px*/; min-width:1150px }
.con_wrap ul li{float: left; margin-right: 30px; width: 22.916666vw/*220px*/; height: 15.625vw/*150px*/; min-width: 200px; min-height: 130px; margin-bottom: 30px; }
.con_wrap ul li:last-child{margin-bottom: 0;}
.sub_text{left:3%; padding: 0.3rem 0.7rem; height: auto; width: auto; font-size: 11px; letter-spacing: 2px}
.sub_text:first-child{bottom: 20%; border-left: 5px solid  #e60;}
.sub_pic{width: 100%; height: 100%; background-color: #daa; }
.sub_text_2{left: calc(3% + 5px); bottom: calc(20% - 25px); }

.more{display: none;}

#conBox05{padding-bottom: 30px;}

/*======================footBox======================*/
#footBox{position: fixed; bottom: 0; left: 0;}

}

@media screen and (min-width: 1280px) {

.con_wrap{padding-left: 260px;} 
.con_01{padding: 0;}
}

@media screen and (min-width: 769px) and (max-width: 959px) {

.con_wrap{padding-left: 180px;} 
.con_01{padding: 0;}
}
