/* common/css */
@charset "UTF-8";

.hidden, .hidden_wrap a>span,
.hidden_wrap span{display: block; widows: 0; height: 0; overflow: hidden; position: absolute; z-index: -100;}

.clearfix:after,
.clearfix::after{content:" "; display: block; width: 0; height: 0; clear: both;}

#wrap{margin:0 auto;}

.table_design thead,
.table_design tbody,
.table_design tfoot,
.table_design th:first-of-type,
.table_design th:first-of-type{border-left: 0;}
.table_design th:last-of-type,
.table_design th:last-of-type{border-right: 0;}