/*  css_deep_01.css  */

/* css3Pie 사용법 */
/* IE에서 사용할 수 없는 기능을 CSS3PIE에서 구현할 수 있도록 만들어져 있다.
   이를 사용하는 방법은 일단 불러온 후 (   <script src="경로/PIE_IE9.js"></script>   )
   사용하는 속성의 말미에 PIE를 적용시킨다. (  behavior:url(경로/PIE.htc)  )
   이때, 적용시킨 PIE는 css문서 기준이 아니라 html문서의 기준으로한다. 
*/

#wrap{width: 100%; height: auto; min-height: 100%; background-color: #DBDFD7  ;}
h1{padding: 1rem; background-color: #C65654; color:#fff; text-align: center;}
h2{margin-bottom: 1rem; padding: 1rem; border-bottom: 2px solid  #333; background-color: #463335; color:#fff; text-transform: uppercase; letter-spacing: 0.1rem; text-align: center;}
h2+div{width: 80%; height: 800px; background-color: #eee; margin: auto; margin-bottom: 2rem;}

.option_01>ul{width: 100%; height: 100%;}
.option_01>ul>li{margin: 3rem; float: left; width: 500px; height: 100px; background-color: #ABB4A6; line-height: 100px; text-align: center; font-weight: bold; font-size: 1.4rem;}

.option_01>ul>li:nth-child(1){box-shadow: 1rem 1rem 1rem #487D83}
.option_01>ul>li:nth-child(2){box-shadow: 1rem 1rem 1rem 2rem #487D83}
.option_01>ul>li:nth-child(3){box-shadow: 0.5rem 0.5rem 0.2rem 2rem #487D83 inset}
.option_01>ul>li:nth-child(4){text-shadow: 0.5rem 0.5rem 0.2rem #487D83;}
.option_01>ul>li:nth-child(5){color:#fff; 
                              text-shadow: -0.05rem 0rem 0.2rem #171717, 
                                               0rem -0.05rem 0.2rem #171717,
                                               0rem   0.6rem #fff;
                              box-shadow:  -1rem  -1rem 0.3rem #f06,
                                            1rem   1rem 0.3rem #f34,
                                          0.2rem 0.2rem 0.1rem #35a inset}
.option_01>ul{width: 100%; height: 100%; position: relative;}                                          
.option_01>ul>li.snow{position: absolute; top: 50%; left: 50%; margin-top: -3px; margin-left: -3px; width: 5px; height: 5px; border-radius: 50%; background-color: #adf;
  box-shadow: 10rem 10rem #CB9C6E,
              8rem 13rem #DBC0BF,
              -4rem 13rem #DDD0A8,
              -1rem 4rem #C16776,
              3rem 5rem #332,
              5rem 3rem #3a2,
              8rem 5rem #AEA4A2,
              -6rem 1.5rem #bbf,
              -1rem -1.9rem #3ad,
              4.3rem -2rem #592,
              -3rem -5rem #165392 ;
              behavior:url("../ie/css3pie/PIE.htc");}

/*==================================*/
.option_02>ul{width: 100%; height: 100%;}  
.option_02>ul>li{margin: 3rem; float: left; width: 200px; height: 100px; background-color: #ABB4A6; text-align: center; line-height: 100px; font-weight: bold;  font-size: 1.4rem;}

.option_02>ul>li:nth-child(1){border-radius: 1rem;}
.option_02>ul>li:nth-child(2){border-radius: 2rem 0 0 0;}
.option_02>ul>li:nth-child(3){border-radius: 0 1.5rem 0 0;}
.option_02>ul>li:nth-child(4){border-bottom-left-radius:3rem;}
.option_02>ul>li:nth-child(5){border-bottom-right-radius:5rem ;}
.option_02>ul>li:nth-child(6){border-radius: 100%;}
.option_02>ul>li:nth-child(7){border-radius: 50%;}
.option_02>ul>li:nth-child(8){border-top-left-radius:10rem 3rem ;}
.option_02>ul>li:nth-child(9){border-bottom-right-radius:15rem 2rem ;}
.option_02>ul>li:nth-child(10){border-bottom-right-radius: 1rem;
                               border-top-right-radius: 7rem}

/*=================================*/
.option_03>ul{width: 100%; height: 70%;}
.option_03>ul>li{padding: 5px; box-sizing: border-box; margin: 2rem; float: left; width: 100px; height: 100px; background-color: #abb4a6; color:#fff; font-weight: bold; text-align: center; line-height: 100px; font-size: 1rem; font-family: "맑은고딕";}

/* tarnsform : translate() \ rotate() \ skew() \ scale()  
                  위치이동 \   회전   \ 뒤틀기 \ 크기변경 */

.option_03>ul>li>div{width: 90px; height: 90px; background-color: #f6a;}
.option_03>ul>li:nth-child(1):hover>div{transform:translateX(2rem);}
.option_03>ul>li:nth-child(2):hover>div{transform:translateY(1rem);}
.option_03>ul>li:nth-child(3):hover>div{transform:rotateX(45deg);}
.option_03>ul>li:nth-child(4):hover{transform:rotateY(10000deg); transition:all 50000ms;}
/*.option_03>ul>li:nth-child(4):hover>div{transform:rotateY(-10000deg); transition:all 50000ms;}*/
.option_03>ul>li:nth-child(5):hover>div{transform:rotateZ(15000deg); transition:all 60000ms;}
.option_03>ul>li:nth-child(6):hover>div{transform:skewX(-30deg);}
.option_03>ul>li:nth-child(7):hover>div{transform:skewY(60deg);}
.option_03>ul>li:nth-child(8):hover>div{transform:scale(2);}
.option_03>ul>li:nth-child(9):hover>div{transform:scaleX(-2.2);}
.option_03>ul>li:nth-child(10)>div{transform-origin:0 0; transition: all 500ms;}
.option_03>ul>li:nth-child(10):hover>div{transform:rotate(45deg); opacity:0;}

.option_03>ul>li:nth-child(11) div{transform-origin:0 0; transition: all 10000ms ease;}
.option_03>ul>li:nth-child(11):hover div{transform:rotate(1720deg) scale(3) translate(10rem) ; opacity:0;}

.option_03>ol{position: relative; width: 100%; height: 30%; background-color: #acf;}
/*.option_03>ol>li{width: 10rem; height: 20rem;  padding: 1rem;box-sizing: border-box; background-color: #fff; border: 0.3rem solid  #4ac; border-radius: 0.3rem; box-shadow: 0.2rem 0.2rem 0.2rem rgba(0,0,0,0.7) inset; position: absolute; top: 50%; margin-top: -10rem; left: 50%; margin-left: -5rem; transition:all 500ms ease-in;}*/

.option_03>ol>li{width: 10rem; height: 20rem; background-color: #fff; border-radius: 0.7rem; position: absolute; left: 50%; top: 50%; margin-top: -10rem; margin-left: -5rem; transition:all 500ms ease-in;  perspective: 5000px;}

.option_03>ol>li>div{border: 1rem solid  #45a; box-sizing: border-box; width: 100%; height: 100%; background-color: #fff;}

.option_03>ol>li:nth-child(1){transform:translate(-300%);}
.option_03>ol>li:nth-child(2){transform:translate(-150%);}
.option_03>ol>li:nth-child(3){transform:translate(0);}
.option_03>ol>li:nth-child(4){transform:translate(150%);}
.option_03>ol>li:nth-child(5){transform:translate(300%);}

.option_03>ol:hover>li{transform:rotateX(180deg);}