/* gillette_faq_pcall.css */

@media screen and (min-width: 769px) {

#wrap{width:100%; height: 100%;}

/*===========headBox=========================*/

h1{width: 160px; height: 44px; background-size: 100% auto; left:8px; transform:translate(0, -50%);}
.gnb>button{display: none;}
.menu{display: block; float: left; position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 60%; min-width: 500px; height: 60px;}
.menu::after{content:""; display: none; position: fixed; top: 60px; left: -40%; z-index: -1; width: 110vw; height: 0; background-color: #0e0e0e;}
.menu.menu_active::after{display: block; height: 400%; transition: all 500ms ease;}
.menu.menu_active dd{display: block; transition: all 500ms ease;}


.menu dl{width: 20%; height: 100%; float: left; text-align: center;}
.menu dl dt{padding:0 1.666666vw/*16px*/; box-sizing: border-box; width: 100%; height: 100%; margin-bottom: 20px;}
.menu dl dd{display: none; margin-top: 20px; padding:0 1rem; box-sizing: border-box; width: 100%; height: 20px;}
.menu dt a{color: #f0f1f2; text-align: center; line-height: 60px; font-size: 14px; letter-spacing: 2px; word-spacing: -3px; font-weight: 500;}
.menu dd a{color: #f0f1f2; text-align: center; line-height: 20px; font-size: 12px; letter-spacing: 2px; word-spacing: -3px;}

.menu dt a:hover{border: none; border-bottom: 3px solid  #fff; }
.menu dd a:hover{border: none; font-size: 13px; font-weight: 500;}
.search{width: 44px; height: 44px; float: right;}


.search>button{position: relative; z-index: 100;}
.search>button:hover + .search_bar,
.search>button:focus + .search_bar{display: block; margin-top: 60px;}

/*==================conBox==================*/
#conBox{padding-top: 60px; box-sizing:border-box; width: 100%; height: 100%;}
.con_01{width: 100%; height: 100%;}
.con_02{width: 100%; height: 100%;}
.title{width: 100%; height: auto; font-size: 4.166666vw/*40px*/; padding: 30px 0}
.question{position: absolute; top: 50%; transform: translateY(-40%); width: 46.875vw/*450px*/; height: auto;}
.question:nth-of-type(1){left: 3.125vw/*30px*/;}
.question:nth-of-type(2){right: 3.125vw/*30px*/;}

.question li{width: 100%; height: 5.2083333vw/*50px*/; margin-bottom: 1.0416666vw;/*10px*/;}
.question li button{width: 100%; height: 100%;}
.question .num{float: left; width: 6.25vw/*60px*/; height: 100%; background-position: left;}
.question .num p{text-indent: 2.083333vw/*20px*/;}
.question .text{margin-left: 6.25vw/*60px*/; margin-top: 1.041666vw/*10px*/; width: 37.5vw/*360px*/; height: 3.125vw/*30px*/; line-height: 3.125vw/*30px*/; text-indent: 1rem; text-align: left; font-size: 14px;}

.answer{top: 0; left: 0; width: 100%; height: 100%;}
.answer li{padding: 2rem; width: 70%; height: 60%;}
.answer li button{display: block; width: 35px; height: 35px; float: right;}
.answer li p:nth-of-type(1){width: 35px; height: 35px; font-size: 2rem; font-weight: 800;}
.answer li p:nth-of-type(2){margin-top: 3.125vw/*30px*/;width: 100%; height: 80%; background-color: #ddd; line-height: 1.6}
.answer li:nth-child(1){display: block;}

}


@media screen and (min-width: 769px) and (max-width: 1366px) {

  #wrap{width:100%; height: 100%; min-height: 1100px;}
  .title{padding: 30px 0 ; font-size: 2.5rem;}
  .question{position: static; margin: auto; transform: none; width: 640px; height: auto;}
  .con_01{margin-top: 180px; height: auto;}

  .question li{width: 100%; height: 70px; margin-bottom: 10px; transition: all 500ms ease;}
  .question li button{width: 100%; height: 100%;}
  .question .num{width: 60px; text-indent: 0;}
  .question .num p {line-height: 50px;}
  .question .text{margin-left: 60px; width: 90%; margin-top: 10px; height: 50px; line-height: 65px;}
  .question .text p {line-height: 50px;}

}

