/*  gillette_faq_common.css  */

#wrap{width: 100%; height: auto; }

/* ============ haadBox ================================== */
#headBox{position: fixed; z-index: 1000; padding: 8px; box-sizing: border-box;top: 0; left: 0; width: 100%; height: 60px; /*background-image: linear-gradient(90deg, #0e0e0e, #666)*/; background-color: #0e0e0e; box-shadow:0 0.3rem 0.3rem rgba(0,0,0,0.5);}
  h1{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); float: left; background-image: url(../../../../img/gillette/html_img/main/logo.png); background-size: auto 100%; background-repeat: no-repeat; background-position: center;}
  .gnb{float: left; background-image: url(../../../../img/gillette/html_img/main/menu_btn.png); background-size: 70%; background-repeat: no-repeat; background-position: center;}
  .gnb>button{position: relative; z-index: 200; width: 100%; height: 100%; color:#fff;}
  .gnb:focus .menu,
  .gnb:hover .menu{display: block;}
  
  .menu{display: none; position: fixed; z-index: 1000; top: 0;left: 0; width: 45vw; height: 100vh;}
  .menu a{display: block; width: 100%; height: 100%; text-align: left; color: #f0f1f2; text-align: center;}
  .menu a:hover{border-right: 3px solid  #fff; } 
   
  .search{float: right; background-image: url(../../../../img/gillette/html_img/main/search_btn.png); background-size: 70%; background-repeat: no-repeat; background-position: center;}
  .search_bar{position: absolute;z-index: 1000; top: 0; right: 0; display: none; width: 100%; background-color: #0e0e0e;}
  .search button:focus + .search_bar{display: block;}

/* ============conBox ====================*/
#conBox{position: relative; width: 100%; height: 100%; background-color: #171717;}
.con_01{position: absolute; top: 0; left: 0;width: 100%; height: 100%;}
.con_02{display: none; position: absolute; top: 0; left: 0;width: 100%; height: 100%;}

.title{color:#fff; text-align: center; font-weight: 800; text-transform: uppercase;}
.question li{transform: skew(-30deg); transition: all 500ms ease;}
.num{position: absolute; top: 50%; left: 0; z-index: 100; transform: translateY(-50%); box-shadow: 0.6rem 0 0.5rem rgba(0,0,0,0.5);}
.question .num::before{content:""; position: absolute; display: block; width: 100%; background-color: #171717}
.num p{position: absolute; transform: skew(30deg); color:#f0f1f2; width:100%; height: 100%; font-size: 2rem; line-height:30px;  font-weight: 600;}
.text{position: absolute; top: 50%; transform: translateY(-50%); background-color: #f0f1f2;}
.text p{position: absolute; top: 50%; transform: translateY(-50%) skew(30deg); }

.answer{display: none; position: absolute; background-color: rgba(0,0,0,0.8);}
.answer li{display: none; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #f0f1f2;}
.answer li button{background-image: url("../../../../img/gillette/html_img/faq/close_icon.png"); background-repeat: no-repeat; background-size: contain;}
.answer li p:nth-of-type(1){background-image: url(../../../../img/gillette/html_img/faq/answer_icon.png); background-repeat: no-repeat; background-size: contain;}
