/* ================  mobile ====================  */
@media screen and (max-width: 480px){

#wrap{width: 100%; height: 100%; min-height: 900px }

/*conBox*/
#conBox{margin-top: 60px;}
  .title{width: 100%; height: 100px; line-height: 90px; font-size: 2rem;}
  #conBox .con_01{padding-top:100px; box-sizing: border-box; }
  .question{width: 83.333333vw/*400px*/; height: auto; margin: auto;}

  .question li{margin-top: 10px; width: 100%; height: 60px;}
  .question li button{position: relative; width: 100%; height: 100%; text-align: left;}
  .question .num{width: 40px; height: 85%;}
  .question .num::before{height: 60px; top: -10%;}
  .question .num p{line-height: 30px;}

  .question .text{position: absolute; top: 50%; left: 40px; transform: translateY(-50%); width: 85%; height: auto; min-height: 40px;}
  .question .text p{position: absolute; top: 50%; transform: translateY(-50%) skew(30deg); padding: 0 1rem ; box-sizing: border-box; width: 100%; height: auto; font-size: 11px; line-height: 1.6; text-indent: 0.5rem;}

  .answer{top: 0; left: 0; width: 100%; height: 100%;}
  .answer li{padding: 5.20833vw/*25px*/; width: 80%; height: 60%;}
  .answer li button{display: block; width: 35px; height: 35px; float: right;}
  .answer li p:nth-of-type(1){width: 35px; height: 35px; font-size: 2rem; font-weight: 800;}
  .answer li p:nth-of-type(2){margin-top: 3.125vw/*30px*/;width: 100%; height: 80%; line-height: 1.6}
  .answer li{display: none;}
  .answer li:nth-child(1){display: block;}

}