/*  gillette_hisrory_common.css  */

#wrap{width: 100%; height: auto; }
  
/* sideMenu */
#sideMenu{background-color: #171717;}
  .sub_menu{line-height: 2.083333vw/*20px*/;}
  .sub_menu a{float: left; display: block; color:#fff; text-align:center;}


/* common */

#conBox{position: relative; background-color: #171717;}
.v_line{position: absolute; left: 50%; transform: translateX(-50%); background-color: #fff; }
.history{position: relative;}
.history dl{position: absolute; color:#fff;}
.history dt{font-weight: 600;}
.num_box{position: absolute; background-repeat: no-repeat; background-size: contain; background-position: center;}
.pic_box{position: absolute; background-repeat: no-repeat; background-position: top left; }

.history:nth-of-type(3) .pic_box{background-image: url("../../../../img/gillette/html_img/history/pic_02_tab.png");}
.history:nth-of-type(4) .pic_box{background-image: url("../../../../img/gillette/html_img/history/pic_03_tab.png");}
.history:nth-of-type(5) .pic_box{background-image: url("../../../../img/gillette/html_img/history/pic_04_tab.png");}
.history:nth-of-type(6) .pic_box{background-image: url("../../../../img/gillette/html_img/history/pic_05_tab.png");}
.history:nth-of-type(7) .pic_box{background-image: url("../../../../img/gillette/html_img/history/pic_06_tab.png");}
.history:nth-of-type(8) .pic_box{background-image: url("../../../../img/gillette/html_img/history/pic_07_tab.png");}
.history:nth-of-type(9) .pic_box{background-image: url("../../../../img/gillette/html_img/history/pic_08_tab.png");}
.history:nth-of-type(10) .pic_box{background-image: url("../../../../img/gillette/html_img/history/pic_09_tab.png");}
.history:nth-of-type(11) .pic_box{background-image: url("../../../../img/gillette/html_img/history/pic_10_tab.png");}
.history:nth-of-type(12) .pic_box{background-image: url("../../../../img/gillette/html_img/history/pic_11_tab.png");}
.history:nth-of-type(13) .pic_box{background-image: url("../../../../img/gillette/html_img/history/pic_12_tab.png");}
.history:nth-of-type(14) .pic_box{background-image: url("../../../../img/gillette/html_img/history/pic_13_tab.png");}
.history:nth-of-type(15) .pic_box{background-image: url("../../../../img/gillette/html_img/history/pic_14_tab.png");}

.history:nth-of-type(3) .num_box{background-image: url("../../../../img/gillette/html_img/history/num_02.png");}
.history:nth-of-type(4) .num_box{background-image: url("../../../../img/gillette/html_img/history/num_03.png");}
.history:nth-of-type(5) .num_box{background-image: url("../../../../img/gillette/html_img/history/num_04.png");}
.history:nth-of-type(6) .num_box{background-image: url("../../../../img/gillette/html_img/history/num_05.png");}
.history:nth-of-type(7) .num_box{background-image: url("../../../../img/gillette/html_img/history/num_06.png");}
.history:nth-of-type(8) .num_box{background-image: url("../../../../img/gillette/html_img/history/num_07.png");}
.history:nth-of-type(9) .num_box{background-image: url("../../../../img/gillette/html_img/history/num_08.png");}
.history:nth-of-type(10) .num_box{background-image: url("../../../../img/gillette/html_img/history/num_09.png");}
.history:nth-of-type(11) .num_box{background-image: url("../../../../img/gillette/html_img/history/num_10.png");}
.history:nth-of-type(12) .num_box{background-image: url("../../../../img/gillette/html_img/history/num_11.png");}
.history:nth-of-type(13) .num_box{background-image: url("../../../../img/gillette/html_img/history/num_12.png");}
.history:nth-of-type(14) .num_box{background-image: url("../../../../img/gillette/html_img/history/num_13.png");}
.history:nth-of-type(15) .num_box{background-image: url("../../../../img/gillette/html_img/history/num_14.png");}
.history:nth-of-type(16) .num_box{background-image: url("../../../../img/gillette/html_img/history/num_15.png");}
.history:nth-of-type(17) .num_box{background-image: url("../../../../img/gillette/html_img/history/num_16.png");}


@media screen and (min-width: 769px) {
.history:nth-of-type(3) .pic_box{background-image: url("../../../../img/gillette/html_img/history/pic_02_pc.png");}
.history:nth-of-type(4) .pic_box{background-image: url("../../../../img/gillette/html_img/history/pic_03_pc.png");}
.history:nth-of-type(5) .pic_box{background-image: url("../../../../img/gillette/html_img/history/pic_04_pc.png");}
.history:nth-of-type(6) .pic_box{background-image: url("../../../../img/gillette/html_img/history/pic_05_pc.png");}
.history:nth-of-type(7) .pic_box{background-image: url("../../../../img/gillette/html_img/history/pic_06_pc.png");}
.history:nth-of-type(8) .pic_box{background-image: url("../../../../img/gillette/html_img/history/pic_07_pc.png");}
.history:nth-of-type(9) .pic_box{background-image: url("../../../../img/gillette/html_img/history/pic_08_pc.png");}
.history:nth-of-type(10) .pic_box{background-image: url("../../../../img/gillette/html_img/history/pic_09_pc.png");}
.history:nth-of-type(11) .pic_box{background-image: url("../../../../img/gillette/html_img/history/pic_10_pc.png");}
.history:nth-of-type(12) .pic_box{background-image: url("../../../../img/gillette/html_img/history/pic_11_pc.png");}
.history:nth-of-type(13) .pic_box{background-image: url("../../../../img/gillette/html_img/history/pic_12_pc.png");}
.history:nth-of-type(14) .pic_box{background-image: url("../../../../img/gillette/html_img/history/pic_13_pc.png");}
.history:nth-of-type(15) .pic_box{background-image: url("../../../../img/gillette/html_img/history/pic_14_pc.png");}

.history:nth-of-type(3) .num_box{background-image: url("../../../../img/gillette/html_img/history/num_02_pc.png");}
.history:nth-of-type(4) .num_box{background-image: url("../../../../img/gillette/html_img/history/num_03_pc.png");}
.history:nth-of-type(5) .num_box{background-image: url("../../../../img/gillette/html_img/history/num_04_pc.png");}
.history:nth-of-type(6) .num_box{background-image: url("../../../../img/gillette/html_img/history/num_05_pc.png");}
.history:nth-of-type(7) .num_box{background-image: url("../../../../img/gillette/html_img/history/num_06_pc.png");}
.history:nth-of-type(8) .num_box{background-image: url("../../../../img/gillette/html_img/history/num_07_pc.png");}
.history:nth-of-type(9) .num_box{background-image: url("../../../../img/gillette/html_img/history/num_08_pc.png");}
.history:nth-of-type(10) .num_box{background-image: url("../../../../img/gillette/html_img/history/num_09_pc.png");}
.history:nth-of-type(11) .num_box{background-image: url("../../../../img/gillette/html_img/history/num_10_pc.png");}
.history:nth-of-type(12) .num_box{background-image: url("../../../../img/gillette/html_img/history/num_11_pc.png");}
.history:nth-of-type(13) .num_box{background-image: url("../../../../img/gillette/html_img/history/num_12_pc.png");}
.history:nth-of-type(14) .num_box{background-image: url("../../../../img/gillette/html_img/history/num_13_pc.png");}
.history:nth-of-type(15) .num_box{background-image: url("../../../../img/gillette/html_img/history/num_14_pc.png");}

}