/*  gillette_history_pcall.css  */

@media screen and (min-width: 801px) {

#wrap{width: 100%; height: 100%; overflow-x: hidden;}

/* scrollBtn */
.scroll_btn{position: absolute; z-index: 200; width: 46px; height: 50px; top: 50%; right: 0; transform: translateY(-50%); background-image: url("../../../../img/gillette/html_img/history/right_btn.png"); background-repeat: no-repeat;
   background-size: contain; background-position: left;}

.scroll_btn button{width: 100%; height: 100%;}  
.scroll_btn:hover{background-color: rgba(0,0,0,0.8);}
.scroll_btn{position: absolute;  bottom: auto; left: auto;}

/*  indicator   */
#indicator{position: fixed; top: auto; bottom: 40px; left: 0; z-index: 500; box-sizing: border-box; width: 100%; height: 50px; background-color: #f0f1f2; border-top: 1px solid #aaa; transform: none;}
#indicator .indi_wrap{width: 100%; height: 100%; }
#indicator ul{width: 100%; height: 100%;}
#indicator li{width: calc(100%/14);}
#indicator a{color:#0e0e0e; text-align:center; text-transform: uppercase; line-height: 50px;}
.button{display: none;}
/* conBox */

#conBox{width: 1400%; height: 100%;}
.history{float: left; width: calc(100% / 14); height: 100%; padding: 60px 0 40px; box-sizing: border-box; background-color: #f0f1f2;}



.v_line{display: none;}
.h_line{position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 100%; height: 100px; background-color: #171717;}
.num_box{left: 10%;; top: 50%; transform: translateY(-50%); width: 140px; height: 50px;}
.pic_box{top: 0; right: 0; width: 50%; height: 100%; background-size: 100%; background-position: 70%; background-size: 70%;}
.history dl{position: absolute; top: 0; left: 10%; width: 35%; height: 100%; line-height: 1.6; z-index: 100; }
.history dt{position: absolute; bottom: calc(50% + 70px); width: 100%; height: auto; font-size: 3rem; }
.history dd{position: absolute; top: calc(50% + 70px); padding: 0.5rem; width: 100%; height: auto; font-size: 16px;}

#conBox .history_01 dl{width: 60%;}
#conBox .history_01 dt{position: static; font-size: 1.3rem;}
#conBox .history_01 dd{position: static; font-size: 13px;}



/*=======bg setting=========*/
.history:nth-of-type(3) .pic_box{background-position: 70% 100%}
.history:nth-of-type(7) .pic_box{background-position: 70% 100%}
.history:nth-of-type(8) .pic_box{background-position: center;}
.history:nth-of-type(9) .pic_box{background-position: center;}
.history:nth-of-type(10) .pic_box{background-position: right;}
.history:nth-of-type(11) .pic_box{background-position: right}
.history:nth-of-type(12) .pic_box{background-position: 70% 100%}
.history:nth-of-type(13) .pic_box{background-position: 70% 100%}
.history:nth-of-type(14) .pic_box{background-position: 70% 100%}
.history:nth-of-type(15) .pic_box{background-position: 100% 80%}

}

@media screen and (min-width: 1366px){
  #conBox .history_01 dt{font-size: 1.5rem;}
  #conBox .history_01 dd{font-size: 16px;}
  #conBox .history_01 dd:last-child{width: 100%; height: 50px;}
}


