/*gillette_header.css*/

/*common*/
#headBox{position: fixed; z-index: 1000; box-sizing: border-box; top: 0; left: 0; width: 100%; height: 60px; background-color: #0e0e0e; }
  h1{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); float: left; background-image: url(../../../../img/gillette/html_img/main/logo.png); background-size: auto 85%; background-repeat: no-repeat; background-position: center;}
  h1 a{display: block; width: 100%; height: 100%; }

  .menu_btn{position: relative; z-index: 800; float: left; width: 50px; height: 44px; transition: all 500ms ease;}
  .menu_btn button{position: absolute; z-index: 1000; width: 100%; height: 100%;}

  .menu_btn span {display: inline-block; transition: all 500ms ease;}
  .menu_btn span {position: absolute; left: 0; width: 70%; height: 2px; background-color: #fff; border-radius: 4px;}
  .menu_btn span:nth-of-type(1) {width: 0; height: 0; }
  .menu_btn span:nth-of-type(2) {top: 10px; left: 50%; transform: translateX(-50%)}
  .menu_btn span:nth-of-type(3) {top: 50%; left: 50%; transform: translate(-50%, -50%);}
  .menu_btn span:nth-of-type(4) {bottom: 10px; left: 50%; transform: translateX(-50%)}

  .menu_btn.active{transform:rotate(360deg);  }
  .menu_btn.active span:nth-of-type(2) {width: 13px; top: 17px; left: 50%; transform: translateX(-18px) rotate(-45deg)}
  .menu_btn.active span:nth-of-type(3) {top: 50%; left: 50%; transform: translate(-50%, -50%);}
  .menu_btn.active span:nth-of-type(4) {width: 13px; bottom: 17px; left: 50%; transform: translateX(-18px) rotate(45deg)}
  
    
  .menu{position: fixed; z-index: 500; top: 0; box-sizing: border-box; height: 100vh; background-color: #0e0e0e; transition: left 800ms ease; }
  .menu.menu_active{left: 0;}

  .menu dl{width: 100%; height: auto; margin-bottom: 1rem;}
  .menu a{display: block; width: 100%; height: 100%; text-align: left; color: #f0f1f2;}

  .menu dt{position: relative; display: inline-block; margin: 10px 0; width: auto; height: 35px; font-size: 14px; }
  .menu dt a{font-size: 1.5rem; font-weight: 500; }

  .menu dd{display: none; font-size: 12px; width: 100%; height: auto; margin-bottom: 20px;}
  .menu dd li{width: 100%; height: 20px; margin-bottom: 20px;}
  .menu dd a{font-size: 1.2rem; text-indent: 1rem; line-height: 25px; }

  .menu .dt_border{position: absolute; bottom: 0; left: 0; width: 0; height: 3px; background-color: #fff; transition: all 500ms ease}

  .menu dl:hover .dt_border{width: 100%;}
  .menu dd a:hover,
  .menu dd a:focus{font-weight: 700;}

  .menu_bg{background-color:  #0e0e0e;}
  .search_wrap{float: right;}
  .search_wrap button{float: right; width: 100%; height: 100%; background-image: url(../../../../img/gillette/html_img/main/search_btn.png); background-size: 60%; background-repeat: no-repeat; background-position: center;}

  .search_bar{display: none; position: absolute; width: 0;}
  .search_bar input {display: block; background-color: transparent; border: none; border-bottom: 2px solid  #fff; color:#fff;}
  .search_bar label{width: 0; height: 0;}
  .search_bar input{width: 100%; height: 100%;}

/*mobile*/
@media screen and (max-width: 480px){

#headBox{width: 100%; height: 60px; padding: 10px 15px; box-sizing: border-box; }
  h1{width: 180px; height: 40px;}
  .menu_btn{width: 45px; height: 45px;}
  .menu{left: -80vw; width: 80vw; padding: 80px 30px;}
      
  .search_wrap{width: 45px; height: 45px;}
  .search_bar{top: 60px; right: 0; width: 100%; height: 50px; background-color: #0e0e0e}
  .search_bar input{margin: 10px auto; width: 200px; height: 30px}
}
/*tablet*/
@media screen and (min-width: 481px) and (max-width: 960px){

#headBox{width: 100%; height: 70px; padding: 15px 15px; box-sizing: border-box;}
  h1{width: 280px; height: 45px; }
  .menu_btn{width: 45px; height: 45px;}
  .menu{left: -60vw; padding: 100px 40px; width: 60vw; }
  
  .search_wrap{width: 45px; height: 45px;}
  .search_bar{top: 70px; right: 0; width: 100%; height: 60px; background-color: #0e0e0e}
  .search_bar input{margin: 15px auto; width: 200px; height: 30px}
}

/* pc */
@media screen and (min-width: 961px) {

#headBox{padding: 10px 10px;}
h1{width: 160px; height: 44px; background-size: auto 80%; left:8px; transform:translateY(-50%);}
.menu_btn{display: none;}
.menu{display: block; float: left; position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 60%; height: 60px;  min-width: 700px; max-width: 800px; background-color: transparent;}
.menu dl{padding: 0 1rem; box-sizing: border-box; width: 20%; height: auto; float: left;}
.menu dt{margin: 0; width: 100%; height: 100%; line-height: 60px;}
.menu dt a{display: block; width: 100%; height: 100%; text-align: center; line-height: 60px; font-size: 14px;}
.menu dd{margin-top: 10px; width: 100%; height: auto;}
.menu dd li{margin-bottom: 12px;}
.menu dd a{display: block; width: 100%; height: 100%; text-align: center; line-height: 30px; font-size: 11px; text-indent: 0;}

.menu .dt_border{height: 4px;}

.menu_bg{display: none; position: fixed; top: 60px; left: -100%; z-index: -1; width: 200vw; height: 15rem;}

.search_wrap{width: 40px; height: 40px;}
.search_bar{top: 60px; right: 0; width: 100%; height: 60px; background-color: #0e0e0e}
  .search_bar input{margin: 15px auto; width: 200px; height: 30px}
}

/*etc...*/

@media screen and (max-width: 359px){
  h1{width: 40%; height: 100%; background-size: 100% auto }
  #headBox{position:absolute;}
  .search{right: 15px;}
}

@media screen and (min-width: 961px) and (max-width: 1280px) {
  h1{width: 15%;}
  .menu{transform: translateX(-45%);}
  
}