/* gillette_product_full.css */
@media screen and (min-width: 769px) and (max-width: 960px) {
  h1{left: 50%; transform: translate(-50%, -50%);}
  .menu{display: none;}
  
}

@media screen and (min-width: 1280px) {

#wrap{margin-left: 240px;} 
}

@media screen and (min-width: 769px) and (max-width: 959px) {

#wrap{margin-left: 180px;} 

}