#wrap{width: 100%; height: 100%; background-color: #ffa	;}

/* --------#headBox-----------------------*/
#headBox{position: fixed; padding: 8px; box-sizing: border-box; top: 0; left: 0; width: 100vw; height: 60px;background-color: #333E48; z-index: 500}
  h1{float: left; background-color: #002E6D; color: #fff; text-align: center;}
  .gnb{background-color: #002E6D; float: left;}  
  .search{background-color: #002E6D; float: right;}
  .search_bar{background-color: #002E6D; float: right; width: 100%; height: 100%; position: absolute; top: 0; right: 0; display: none;}

/* sideMenu--------------------------------*/
#sideMenu{background-color: #171717;}
  .s_wrap{width: 100%; height: auto; background-image: linear-gradient(90deg, #171717 50% , #031a46) ;}
  .sub_menu a{color:#fff; text-align:left;}
	.title{background-image: linear-gradient(150deg, #000, transparent 80%); margin: auto; text-align: center; font-size: 3rem; }
	.product{position: relative; margin: auto; width: 100%; height: 200px; }
  .pic{background-color: #000; box-shadow: 0.7rem 0.7rem 0.5rem rgba(0,0,0,0.5);}
  .product dl {width: auto; height: auto; float: left;}
  .product dt {background-color: transparent;}
  .product dd {background-color: #202020;}
  .product dd div {background-color: #ee6600;}
  .purchase_btn a{color:#fff; font-weight: 600; }
  .more{background-color: #ee6600; text-align: center;}
  a{display: block; width: 100%; height: 100%;text-align: center;}

#footBox{width: 100%; height: 40px; background-color: #333E48; z-index: 500;}
  .copywright{width: 70%; height: 26px; margin: auto; margin-top: 7px; background-color: #002E6D;}

  
}

