#wrap{width: 100%; height: 100%; background-color: #ffa	;}

/* --------#headBox-----------------------*/
#headBox{position: fixed; z-index: 1000; padding: 8px; box-sizing: border-box; top: 0; left: 0; width: 100%; height: 60px; background-color: #0e0e0e; box-shadow:0 0.3rem 0.3rem rgba(0,0,0,0.5);}
  h1{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); float: left; background-image: url(../../../../img/gillette/html_img/main/logo.png); background-size: auto 100%; background-repeat: no-repeat; background-position: center;}
  .gnb{float: left; background-image: url(../../../../img/gillette/html_img/main/menu_btn.png); background-size: 70%; background-repeat: no-repeat; background-position: center;}
  .gnb>button{position: relative; z-index: 200; width: 100%; height: 100%; color:#fff;}
  .gnb:focus .menu,
  .gnb:hover .menu{display: block;}
  
  .menu{display: none; position: fixed; z-index: 1000; top: 0;left: 0; width: 45vw; height: 100vh;  background-color: #0e0e0e;}
  .menu a{display: block; width: 100%; height: 100%; text-align: left;}
  .menu a:hover{border-right: 3px solid  #fff; } 
   
  
  .search{float: right; background-image: url(../../../../img/gillette/html_img/main/search_btn.png); background-size: 70%; background-repeat: no-repeat; background-position: center;}
  .search_bar{position: absolute;z-index: 1000; top: 0; right: 0; display: none; width: 100%; background-color: #0e0e0e;}
  .search button:focus + .search_bar{display: block;}
  


/* sideMenu--------------------------------*/
#sideMenu{background-color: #171717;}
  .sub_menu{line-height: 2.083333vw/*20px*/;}
  .sub_menu a{float: left; width: 80%; min-width: 120px; color:#fff; text-align:left;}
  .sub_menu i{float: right; width: 20px; height: 100%; line-height: 2.083333vw/*20px*/; color: #fff;}



/*============conBox===========================*/
.s_wrap{width: 100%; height: auto; background-image: linear-gradient( #171717 50% , #031a46);}
.s_wrap:nth-child(2n){background-image: linear-gradient( #031a46, #171717 );}
.title{position: relative; background-image: linear-gradient(150deg, #000, transparent 80%); }
.title::before{content:""; position: absolute; width: 100%; height: 100%; min-width: 150px; background-repeat: no-repeat; background-size: 80%; background-position: center; }
.con_01_title::before{background-image: url(../../../../img/gillette/html_img/product/title_01_wide.png);}
.con_02_title::before{background-image: url(../../../../img/gillette/html_img/product/title_02_wide.png);}

  .product{position: relative;}
  .pic{background-color: #000; box-shadow: 0.7rem 0.7rem 0.5rem rgba(0,0,0,0.5); background-repeat: no-repeat; background-size: auto 90%; background-position: 80% 50%;}

  
  #conBox01 .product:nth-of-type(2) .pic{background-image: url(../../../../img/gillette/html_img/product/product_01.png);}
  #conBox01 .product:nth-of-type(3) .pic{background-image: url(../../../../img/gillette/html_img/product/product_02.png);}
  #conBox01 .product:nth-of-type(4) .pic{background-image: url(../../../../img/gillette/html_img/product/product_03.png);background-size: 80%; background-position:50% 20% }
  #conBox01 .product:nth-of-type(5) .pic{background-image: url(../../../../img/gillette/html_img/product/product_04.png);background-size: 80%; background-position:50% 15% }



  .pic{position: absolute;}
  .product dl {width: auto; height: auto; float: left;}
  .product dt{position: absolute;}
  .product dt a{color:#f0f1f2; font-weight: 800; text-transform: uppercase; text-align: left;}
  .product dd {position: absolute; bottom: 0; right: 0; background-color: #202020;}
  .product ul{float: left;}
  .product ul li{position: relative; background-repeat: no-repeat; background-position: center; background-size: auto 80%; }
  .product ul li p{position: absolute; top: 50%; transform: translateY(-50%); color:#f0f1f2;}
  .product ul li i{position: absolute; top: 50%; transform: translateY(-50%); display: block; width: 5px; border-left: 2px solid  #666;}

  .product ul:nth-child(1) li:nth-child(1){background-image: url(../../../../img/gillette/html_img/product/product_icon_01.png);}
  .product ul:nth-child(1) li:nth-child(2){background-image: url(../../../../img/gillette/html_img/product/product_icon_02.png);}
  .product ul:nth-child(1) li:nth-child(3){background-image: url(../../../../img/gillette/html_img/product/product_icon_03.png);}
  .product ul:nth-child(1) li:nth-child(4){background-image: url(../../../../img/gillette/html_img/product/product_icon_04.png);}

.btn{position: absolute; background-color: #ee6600; font-weight: 600; text-align: center;}
  .btn a{color:#fff}
  a{display: block; width: 100%; height: 100%; text-align: center;}
.star{position: absolute; background-color: transparent; background-image: url(../../../../img/gillette/html_img/product/star_5.svg); background-repeat: no-repeat; background-size: 70%; background-position: 0 50%; text-align: right; color:#f0f1f2;}

/*============footBox===========================*/

 #footBox{width: 100%; height: 40px; background-color: #0e0e0e; z-index: 500;}
  .copyright{width: 70%; height: 26px; margin: auto; margin-top: 7px; line-height: 26px}
  .copyright p{font-size: 6px; color: #fff; text-align: center; }
  

  
}

