/* gillette_product_tablet.css */

@media screen and (min-width: 481px) and (max-width: 768px){
#wrap{width: 100%; height: auto; }

/* --------#headBox-----------------------*/
#headBox{width: 100%; height: 70px; padding: 15px 30px; box-sizing: border-box;}
  h1{width: 280px; height: 45px; }
  .menu_btn{width: 45px; height: 45px;}
  .menu{padding: 30px;}
  .menu>ul{width: 100%; height: 100%; margin-top: 90px;}
  .menu>ul>li{width: 90%; height: 40px; margin: auto; margin-bottom: 10px;}
  .menu a{line-height: 40px;}
  .menu>button{width: 100%; height: 100%;}
  
  .sub_menu{display:none;}
  .search{width: 45px; height: 45px;}
  .search_bar{height: 90px;}

/*  sideMenu  */
#sideMenu{display: none; padding: 10px 10px;  box-sizing: border-box; width: 40%; height: 100%; float: left; position: fixed; left: 0; z-index: 100}
.s_title{width: 160px; height: 40px; font-size: 1.6rem; margin: auto;margin-bottom: 50px	;}
.submenu{width: 80%; height: auto; margin: auto; }
.submenu>dl{width: 100%; height: 50%; margin-bottom: 20px;}
.submenu>dl>dt{margin-bottom: 10px; font-weight: bold;}
.submenu>dl>dd{margin-left: 6px; margin-bottom: 4px;}

/*==============conBox============================ */
.s_wrap{padding: 60px 0 40px; box-sizing: border-box; float: left; width: 100%; height: auto; }
  .title{width: 100%; height: 220px; }
  .product_wrap{margin: 50px auto; width: 640px; height: 900px; }
  .product{margin-right: 40px; margin-bottom: 40px ;width: 300px; height: 430px; box-shadow: 0.3rem 0.3rem 1rem rgba(0,0,0,0.2)}

  .product:nth-child(2n){margin-right: 0}
  .product dl{padding: 15px 15px; box-sizing: border-box; width: 100%; height: 130px;}
  .product dt{margin-bottom: 15px; width: 100%; height: 60px; font-size: 20px;}
  .product dd:nth-of-type(1){margin-bottom: 15px; width: 100%; height: 65px; font-size: 11px;}
  .product dd:nth-of-type(1) p{width: 100%; height: auto;}
  .product dd:nth-of-type(1) p:nth-child(1){margin-bottom: 5px; font-weight: 700;}
  .product dd:nth-of-type(2){width: 100%; height: 20px; font-size: 9px;} 

  .more{float: right; margin-right: 50px; width: 110px; height: 45px; background-color: #ee6600;}
  .more a{display: block; width: 100%; height: 25px;}
  .more i{display: block; width: 100%; height: 20px;}

/*================footBox===========================*/
#footBox{float: left;}
.copyright p{display: none;}
.copy_wrap p:nth-child(1){display: block;}

.sns_box_foot{display: none;} 

}