/* gillette_product_tablet.css */

@media screen and (min-width: 481px) and (max-width: 768px){

/* --------#headBox-----------------------*/

#headBox{width: 100%; height: 90px; padding: 15px 30px; box-sizing: border-box;}
h1{width: 280px; height: 60px;}
.gnb{width: 60px; height: 60px;}
.gnb>button{width: 100%;height: 100%;}
.menu{display: none;}
/*.menu>ul{width: 100%; height: 100%; margin-top: 90px;}
.menu>ul>li{width: 90%; height: 40px; margin: auto; margin-bottom: 10px; background-color: #ccc;}
.gnb>button{color:#fff; line-height: 40px; width: 100%; height: 100%; position: relative; z-index: 200}*/
.gnb button:focus[id="sideMenu"],
.gnb button:hover[id="sideMenu"]{display: block;}

.search{width: 60px; height: 60px;}
.search>button{position: relative; z-index: 100;}
.search>button:hover + .search_bar,
.search>button:focus + .search_bar{display: block; margin-top: 90px;}

/*  sideMenu  */
#sideMenu{display: none; padding: 10px 10px;  box-sizing: border-box; width: 40%; height: 100%; float: left; position: fixed; left: 0; z-index: 100}
.s_title{width: 160px; height: 40px; font-size: 1.6rem; margin: auto;margin-bottom: 50px	;}
.submenu{width: 80%; height: auto; margin: auto; }
.submenu>dl{width: 100%; height: 50%; margin-bottom: 20px;}
.submenu>dl>dt{margin-bottom: 10px; font-weight: bold;}
.submenu>dl>dd{margin-left: 6px; margin-bottom: 4px;}

/*conBox ============================ */
.s_wrap{padding: 6.510416vw/*50px...*/; padding-bottom: 100px; box-sizing: border-box; position: relative;}	
#conBox01{margin-top: 90px;}

.title{width: 100%; height: 28.64583vw/*220px...*/; font-size: 2.5rem;}

.product{width: 39.0625vw/*300px...*/; height: 57.291666vw/*440px...*/; float: left; position: relative; margin-top: 6.510416vw/*50px...*/;}
.pic{width: 100%; height: 57.291666vw/*440px...*/;}
.product dl{width: 100%; height: 100%;} 
.product dt{bottom: 22.786458vw/*175px*/; left: 1.302083vw/*10px*/; z-index: 100; width: 36.458333vw/*280px*/; height: auto; font-size: 4.166666vw/*32px*/; line-height: 1.2; text-shadow: 0.3rem 0.3rem 0.2rem rgba(0,0,0,0.6) } 
.product dd{padding: 6.510416vw/*50px*/ 1.302083vw/*10px*/ 1.302083vw/*10px*/; box-sizing: border-box; width: 100%; height: 27.34375vw/*210px*/;}
.product dd ul{height: 19.53125vw/*150px*/;}
.product dd ul:nth-child(1){width: 6.510416vw/*50px*/;}
.product dd ul:nth-child(2){width: 29.947916vw/*230px*/; }


/*product_icon */
.product dd li{width: 100%; height: 25%;font-size: 11px; background-size: auto 70%}

.product dd li i{margin-left: 0.6510416vw/*5px*/; height:1.822916vw/*14px*/; }
.product dd li p{float: left; width: auto; height: 1.302083vw/*10px*/; text-align: left; text-indent: 2.5vw/*24px*/; line-height: 1.302083vw/*10px*/;	}



.star{right: 1.302083vw/*10px*/; bottom: 6.510416vw/*50px*/; width: 13.02083vw/*100px*/; height: 2.604166vw/*20px*/; font-size: 1.171875vw/*9px*/; line-height: 2.604166vw/*20px*/;}
.btn{width: 13.02083vw/*100px*/; height: 3.90625vw/*30px*/; line-height: 3.90625vw/*30px*/; font-size: 11px; letter-spacing: 3px;}
.purchase_btn {right: 1.302083vw/*10px*/; bottom: 1.302083vw/*10px*/;}
.more{bottom: 3.90625vw/*30px*/; right: 6.510416vw/*50px*/;}

.product:nth-child(2n){float: right;}

/*footBox*/
#footBox{float: left;}
.copyright p{display: none;}
.copy_wrap p:nth-child(1){display: block;}

.sns_box_foot{display: none;} 
}