/* gillette_product_pcall.css */

@media screen and (min-width: 769px) {

#wrap{width: 400vw ; height: 100%; margin-left: 18.75vw/*180px*/;} 
.m_wrap{width: auto; height: 100%;}
.s_wrap{padding-top: 80px; padding-bottom:60px; box-sizing: border-box; width: calc(100%/3); height: 100%; float: left; position: relative;}

/* ===========headBox=========================*/

h1{width: 160px; height: 44px;  background-size: 100% auto; left:8px; transform:translate(0, -50%);}
.gnb>button{display: none;}
.menu{display: block; float: left; position: absolute; top: 50%; left: 50%; width: 50vw; min-width: 500px; height: 40px; margin-left: -25vw; margin-top: -20px;}
.menu>ul{width: 100%; height: 100%; float: left;}
.menu>ul>li{width: 20%; height: 100%;float: left; }
.menu a{color: #f0f1f2; text-align: center; line-height: 40px; font-size: 14px; letter-spacing: 2px; word-spacing: -3px;font-weight: 600;}
.menu a:hover{border: none; border-bottom: 3px solid  #fff; }
.search{width: 44px; height: 44px; float: right;}
.search>button{position: relative; z-index: 100;}
.search>button:hover + .search_bar,
.search>button:focus + .search_bar{display: block; margin-top: 60px;}

/*  sideMenu   */
#sideMenu{position: fixed; left: 0; z-index: 100; padding: 70px 1.041666vw/*10px*/; box-sizing: border-box;width: 18.75vw/*180px*/; min-width: 180px; max-width: 240px; height: 100vh;}
.s_title{width: 100%; height: 4.166666vw/*40px*/; min-height: 40px; max-height: 60px; font-size: 1.6rem; margin-bottom: 50px;}
.sub_menu{width: 80%; max-width: 170px; height: auto; margin: auto; position: absolute;
top: 50%; left: 15%; transform:translateY(-50%); }
.sub_menu>dl{width: 100%; height: 50%; margin-bottom: 20px;}
.sub_menu>dl:last-child{margin-bottom: 0;}
.sub_menu>dl>dt{margin-bottom: 10px; width: 100%; height: 2.083333vw/*20px*/; min-height: 20px; max-height: 30px; font-weight: bold;}
.sub_menu>dl>dd{margin-left: 6px; margin-bottom:4px; width: 100%; height: 2.083333vw/*20px*/; min-height: 20px; max-height: 30px; }

/*  conBox  */
.s_wrap{background-image: linear-gradient(90deg, #171717 50% , #031a46);}
.title{width: 15.625vw/*150px*/; min-width: 150px; height: 100%; float: left; margin-left: 2.083333vw/*20px*/; }
.title>span{display: block; margin-top: 9.375vw/*90px*/; transform: rotate(90deg); line-height: 3rem;}
.con_01_title::before{background-image: url(../../../../img/gillette/html_img/product/title_01.png); }
.con_02_title::before{background-image: url(../../../../img/gillette/html_img/product/title_02.png); background-size: 60%}
.product{width: 21.875vw/*210px*/; height: 31.25vw/*300px*/; float: left; margin-left: 5.208333vw/*50px*/; position: relative; top: 50%; transform:translateY(-50%);}
.pic{width: 100%; height: 31.25vw/*300px*/; background-position: 80%}
.product dl{width: 100%; height: 100%;} 
.product dt{bottom: 11.979166vw/*115 px*/; left: 1.041666vw/*10px*/; z-index: 100; width: 19.791666vw/*190px*/; height: auto;} 
.product dt a{font-size: 2.5vw/*24px*/; line-height: 1.1; text-shadow: 0.3rem 0.3rem 0.2rem rgba(0,0,0,0.6)}
.product dd{padding: 3.125vw/*30px*/ 1.041666vw/*10px*/ 1.041666vw/*10px*/; box-sizing: border-box; width: 100%; height: 14.5833333vw/*140px*/;}
.product dd ul{height: 10.416666vw/*100px*/;}
.product dd ul:nth-child(1){width: 3.125vw/*30px*/;}
.product dd ul:nth-child(2){width: 16.666666vw/*150px*/; }


/*product_icon */
.product dd li{width: 100%; height: 25%;font-size: 11px; background-size: auto 70%}
.product dd li i{margin-left: 0.520833vw/*5px*/; display: block; height: 0.8333333vw/*8px*/;}
.product dd li p{float: left; width: auto; height: 1.041666vw/*10px*/; text-align: left; text-indent: 1.5625vw/*15px*/; line-height: 1.041666vw/*10px*/; font-size: 11px; }


/*btn*/
.star{right: 1.041666vw/*10px*/; bottom: 3.125vw/*30px*/; width: 7.291666vw/*70px*/; height: 2.083333vw/*20px*/; font-size: 7px/*7px*/; line-height: 2.083333vw/*20px*/;}
.btn{width: 7.291666vw/*70px*/; height: 2.083333vw/*20px*/; line-height: 2.083333vw/*20px*/; letter-spacing: 3px}
.purchase_btn{right: 1.041666vw/*10px*/; bottom: 1.041666vw/*10px*/; font-size: 11px;} 

.more{right: 5%; bottom: 55px; background-color: transparent;}



/*============footBox===========================*/

#footBox{position: fixed; left: 0; bottom: 0;}
.copyright{width: 800px; }
.copyright p{width: auto; height: auto; float: left; margin-right: 2rem; }
.copy_wrap{float: left; width: auto; height: 100%; }
.copy_wrap p{height: 13px; line-height: 13px}
.copy_wrap p:nth-child(1){float: none;}
.copy_wrap p:nth-child(3){float: right;}
.sns_box_foot{float: left; width: 60px; height: 26px; }
.sns_box_foot div{width: 26px; height: 100%; float: left; }
.sns_box_foot .youtube{float: right; }
}

@media screen and (min-width: 1280px) {

#wrap{margin-left: 240px;} 
}

@media screen and (min-width: 769px) and (max-width: 959px) {

#wrap{margin-left: 180px;} 
}
