@media screen and (min-width: 769px) {

#wrap{width: 3900px; height: 100%; margin-left: 180px;} 
.s_wrap{padding-top: 70px; padding-bottom:50px;  box-sizing: border-box; width: 1300px; height: 100%; float: left; position: relative;}
 h1{width: 160px; height: 44px;}
.gnb>button{display: none;}
.search{background-color: #002E6D; float: right;}
  .search_bar{background-color: #002E6D; float: right; width: 100%; height: 100%; position: absolute; top: 0; right: 0; display: none;}
  .menu{background-color: #002E6D; float: left; position: absolute; top: 50%; left: 50%; width: 50vw; min-width: 500px; height: 40px; margin-left: -25vw; margin-top: -20px; }
  .menu>ul{width: 100%; height: 100%; float: left;}
  .menu>ul>li{width: 20%; height: 100%; box-sizing: border-box; border-right: 1px solid #fff; float: left; color: #ccc; text-align: center; line-height: 40px;}
  .menu>ul>li:last-child{border: 0;}

  .search{width: 44px; height: 44px; float: right;}
  .search>button{position: relative; z-index: 100;}
  .search>button:hover + .search_bar,
  .search>button:focus + .search_bar{display: block; margin-top: 60px;}

	/*  sideMenu   */
	#sideMenu{padding: 70px 10px;  box-sizing: border-box; width: 180px; height: 100%; float: left; position: fixed; left: 0; z-index: 100}
	.s_title{width: 160px; height: 40px; font-size: 1.6rem; margin-bottom: 50px	;}
	.submenu{width: 80%; height: auto; margin: auto; }
	.submenu>dl{width: 100%; height: 50%; margin-bottom: 20px;}
	.submenu>dl>dt{margin-bottom: 10px; font-weight: bold;}
	.submenu>dl>dd{margin-left: 6px; margin-bottom: 4px;}

	/*  conBox  */
	.title{width: 150px; height: 100%; float: left; margin-left: 20px; }
	.title>span{display: block; margin-top: 90px; transform: rotate(90deg); line-height: 3rem;}
	.product{width: 210px; height: 300px; float: left; margin-left: 50px; margin-top: 20px; position: relative;}
	.pic{width: 160px; height: 300px; position: absolute; right: 0;}
	.product dl{width: 100%; height: 100%;} 
	.product dt{width: 50px; height: 230px; position: absolute; left: 0; top: 0;} 
	.product dd{width: 160px; height: 110px; position: absolute; right: 0; bottom: 0;} 
	.product dd div{width: 80px; height: 30px; position: absolute; right: 0; bottom: 0;} 
	.more{width: 50px; height: 50%; margin-top: 90px; margin-right: 20px;float: right;}




	#footBox{position: fixed; bottom: 0; left: 0;}
}

